<footer id="bunn" class="l-footer">
    <div class="l-footer-inner group">

    <h2 class="visuallyhidden">Sponsors</h2>

    <ul class="sponsors group">
        <li><a href="http://bouvet.no" title="Bouvet"><img src="/img/sponsors/bouvet.png" alt="Bouvet"></a></li>
        <li><a href="http://ciber.com" title="Ciber"><img src="/img/sponsors/ciber.png" alt="Ciber"></a></li>
        <li><a href="http://finn.no" title="FINN"><img src="/img/sponsors/finn.png" alt="Finn"></a></li>
        <li><a href="http://com.fronter.info/virtual-learning-environment-lms/jobs/" title="Fronter"><img src="/img/sponsors/fronter.png" alt="Fronter"></a></li>
        <li><a href="http://www.accenture.no" title="Accenture"><img src="/img/sponsors/accenture.png" alt="Accenture"></a></li>
        <li><a href="http://komplett.no" title="Komplett"><img src="/img/sponsors/komplett.png" alt="Komplett"></a></li>
        <li><a href="http://bekk.no" title="Bekk"><img src="/img/sponsors/bekk.png" alt="Bekk"></a></li>
        <li><a href="http://computas.com" title="Computas"><img src="/img/sponsors/computas.png" alt="Computas"></a></li>
        <li><a href="http://yld.io" title="Yld"><img src="/img/sponsors/yld.png" alt="YLD"></a></li>
        <li><a href="http://xeneta.com/" title="Xeneta"><img src="/img/sponsors/xeneta_small.png" alt="Xeneta"></a></li>
        <li><a href="http://knowit.no/" title="Knowit"><img src="/img/sponsors/knowit.png" alt="Knowit"></a></li>
        <li><a href="http://github.com/" title="Github"><img src="/img/sponsors/github.png" alt="Github"></a></li>
        <li><a href="http://visma.no/" title="Visma"><img src="/img/sponsors/visma.png" alt="Visma"></a></li>
        <li><a href="http://www.webstep.no/" title="Webstep"><img src="/img/sponsors/webstep.png" alt="Webstep"></a></li>
        <li><a href="http://paypal.com" title="PayPal"><img src="/img/sponsors/paypal.png" alt="PayPal"></a></li>
        <li><a href="http://mandrill.com/" title="Mandrill"><img src="/img/sponsors/mandrill.png" alt="Mandrill"></a></li>
        <li><a href="/sponsors" title=""><img src="/img/sponsors/tba.png" alt=""></a></li>
        <li><a href="http://utvikling.amedia.no/" title="Amedia"><img src="/img/sponsors/amedia.png" alt="Amedia"></a></li>
        <li><a href="http://www.23video.com/" title="23Video"><img src="/img/sponsors/23.png" alt="23Video"></a></li>
        <li><a href="/sponsors" title=""><img src="/img/sponsors/tba.png" alt=""></a></li>
        <%/* 
        <li><a href="http://telenordigital.com/" title="Telenor Digital"><img src="/img/sponsors/telenor.png" alt="Telenor Digital"></a></li>
        <li><a href="/sponsors" title=""><img src="/img/sponsors/tba.png" alt=""></a></li> */%>
    </ul>

    <ul class="links notsoloud">
        <li><a href="http://webrebels.tumblr.com">Tumblr</a></li>
        <li><a href="http://flickr.com/webrebels">Flickr</a></li>
        <li><a href="http://lanyrd.com/2014/webrebels/">Lanyrd</a></li>
        <li><a href="https://vimeo.com/webrebels">Vimeo</a></li>
        <li><a href="https://twitter.com/web_rebels">Twitter</a></li>
    </ul>

    <ul class="menubelow notsoloud">
        <li class="menubelow-item"><a href="/">Home</a></li>
        <li class="menubelow-item"><a href="https://webrebels.23video.com">Videos</a></li>
        <li class="menubelow-item"><a href="/about">About</a></li>
        <li class="menubelow-item"><a href="/speakers">Speakers</a></li>
        <li class="menubelow-item"><a href="/location">Location</a></li>
        <li class="menubelow-item"><a href="/schedule">Schedule</a></li>
        <li class="menubelow-item"><a href="/openmic">Open Mic</a></li>
        <li class="menubelow-item"><a href="/sponsors">Sponsors</a></li>
        <li class="menubelow-item"><a href="/tickets">Tickets</a></li>
    </ul>

    </div>
</footer>
