<footer id="bunn" class="l-footer">
    <div class="l-footer-inner group">

    <h2 class="visuallyhidden">Sponsors</h2> 

    <ul class="sponsors group"> 
        <li><a href="#" title=""><img src="img/sponsor01.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor02.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor03.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor04.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor05.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor06.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor07.png" alt=""></a></li>
        <li><a href="#" title=""><img src="img/sponsor08.png" alt=""></a></li>      
    </ul>

    <ul class="links notsoloud">
        <li><a href="http://webrebels.tumblr.com">Tumblr</a></li>
        <li><a href="http://flickr.com/webrebels">Flickr</a></li>
        <li><a href="http://lanyrd.com/2014/webrebels/">Lanyrd</a></li>
        <li><a href="https://vimeo.com/webrebels">Vimeo</a></li>
        <li><a href="https://twitter.com/web_rebels">Twitter</a></li>
    </ul>

    <ul class="menubelow notsoloud">
        <li class="menubelow-item"><a href="index">Home</a></li>
        <li class="menubelow-item"><a href="about">About</a></li>
        <li class="menubelow-item"><a href="speakers">Speakers</a></li>
        <li class="menubelow-item"><a href="location">Location</a></li>
        <li class="menubelow-item"><a href="schedule">Schedule</a></li>
        <li class="menubelow-item"><a href="/openmic">Open Mic</a></li>
        <li class="menubelow-item"><a href="sponsors">Sponsors</a></li>
        <li class="menubelow-item"><a href="tickets">Tickets</a></li>
    </ul>  

    </div>
</footer>
