        <p>At <a href="/openmic/">Open Mic Night</a> the format is ~10 minutes talks on any relevant topic. You can do slides, live code or just talk!<br>
        Send the following with your request <strong>before 18 May</strong>:</p>
        <ul>
          <li>Your name</li>
          <li>Title and short abstract for your talk</li>
          <li>Twitter handler, homepage URL or similar</li>
          <li>A photo of yourself</li>
        </ul>
        <p>Send everything to <a href="mailto:openmic@webrebels.org">openmic@webrebels.org</a> and you'll be in the running a spot at Open Mic 2014!!
        <br>Read more about <a href="/openmic#aboutomn">why we host Open Mic Night</a> for more detailed information.</p>
