<% include header.ejs %>

<div class="content">
	<div class="intro">
      <p class="intro-txt">
         intro....text...thing...
      </p>
      <ul class="intro-linx">
         <li><a href="/tour/">Tour page</a></li>
         <li><a href="/tour/tv">Slow TV map</a></li>
         <!--<li><a href="/tour/bergen">Bergen</a></li>-->
         <li><a href="/tour/oslo">Oslo</a></li>
         <li><a href="/tour/bartcity">Trondheim</a></li>
      </ul>
  </div>
  <div class="events">
      <div class="streched event-container">
         <div class="event-item">
         <p>Trondheim - add stuff----.</p>
         <p>
         <img src="/img/tour/bartcity/1.jpg">
         </p>
         <p>Got pictures? <a href="mailto:iwasatosloworkshop [at replace with a]webrebels.org">Send us a link</a> and we'll put them up!
         </div>
      </div>
  </div>
</div>
</body>
</html>