<% include header.ejs %>

<div class="content">
   <div class="intro">
      <p class="intro-txt">
         Learn how to use node.js, npm and other related tools by writing code
         to solve realistic problems. The choose-your-own-adventure style lessons
         run in your terminal and work on Windows, Mac and Linux.
      </p>
      <ul class="intro-linx">
         <li><a href="http://nodeschool.io/" title="nodeschool.io">nodeschool.io</a></li>
         <li><a href="http://maxogden.com/" title="maxogden.com">maxogden.com</a>   </li>
         <li><a href="http://jlord.us/" title="jlord.us">jlord.us</a></li>
      </ul>
      <br clear="all">
      <ul class="intro-linx">
         <li><a href="./">Tour page</a></li>
         <li><a href="./tv">Slow TV map</a></li>
         <!--
         <li><a href="./bergen">Bergen</a></li>
         -->
         <li><a href="/tour/oslo/">Oslo</a></li>
         <!--
         <li><a href="./bartcity">Trondheim</a></li>
         -->
      </ul>
   </div>
   <div class="events">
      <ul class="event-container">
         <li class="event-item osl">
            <h2><a href="/tour/oslo">Oslo</a></h2>
            <p>24 May 2014</p>
            <p>The first leg of the tour was in Oslo, right after the conference.<br><a href="/tour/oslo/">Check out what happened!</a></p>
            <p>In association with <a href="http://www.meetup.com/framsia">Framsia Meetup</a></p>
         </li>
         <li class="event-item trd">
            <h2>Trondheim</h2>
            <p>25 May 2014</p>
            <p>18:00 - 20:00 at <a href="https://www.google.com/maps/place/Norges+Kreative+Fagskole+-+avdeling+Trondheim/@63.432701,10.404128,17z/data=!3m1!4b1!4m2!3m1!1s0x466d31994ae10f85:0x52adbd15db56fc97">Norges Kreative Fagskole</a></p>
            <p>Price: 100 NOK<a href="#price">*</a></p>
            <p class="event-btn"><a href="https://www.eventbrite.com/e/nodeschool-trondheim-nodeschool-tour-of-norway-2014-tickets-11445615143">Sign me up!</a></p>
            <p>In association with <a href="http://bartjs.github.io/">BartJS</a>
            </p>
         </li>
         <li class="event-item bgo">
            <h2>Bergen</h2>
            <p>28 May 2014</p>
            <p>18:00 - 20:00 at <a href="https://www.google.com/maps/place/Kvarteret/@60.389762,5.322123,17z/data=!3m1!4b1!4m2!3m1!1s0x463cfc0208521f51:0xbdfb43c9a516175">Tivoli, Kvarteret</a> </p>
            <p class="event-btn">SOLD OUT!</p>
            <p>In association with
               <a href="http://boosterconf.no">Booster Conference</a> and <a href="http://www.meetup.com/BergenJS/">BergenJS</a>
            </p>
         </li>
      </ul>
   </div>
   <div><a name="price"></a>
      <h2>What's with the price tag?</h2>
      <p style="background-color:white;">NodeSchool events are limited in size and we want to avoid people signing up but not showing up. The <u>entire amount</u> will be donated to the meetup groups helping us: <a href="http://bartjs.github.io/">BartJS</a>, <a href="http://www.meetup.com/BergenJS/">BergenJS</a> and <a href="http://www.meetup.com/framsia">Framsia</a>. Fronter, Web Rebels and <a href="http://boosterconf.no">Booster Conference</a> does not recieve any funds from this event.</p>
   </div>
   <div><a name="price"></a>
      <h2>Questions?</h2>
      <p style="background-color:white;">Just <a href="mailto:nodewtf [at] webrebels.org">slip us a note</a> or give us a shout on <a href="//twitter.com/web_rebels">twitter</a>, ok</p>
      <em>NodeSchool Norway Tour is an event sponsored by <a href="http://com.fronter.info/virtual-learning-environment-lms/jobs/">Fronter</a> for the <a href="https://www.webrebels.org/">Web Rebels Conference</a> with the support of <a href="http://bartjs.github.io/">BartJS</a>, <a href="http://www.meetup.com/BergenJS/">BergenJS</a>, <a href="http://boosterconf.no">Booster Conference</a> and <a href="http://www.meetup.com/framsia">Framsia</a>. Without whom it would not be possible, love you guys!</em>
   </div>
</div>

</body>
</html>