<% include header.ejs %>

<div class="content">
  <div class="intro">
      <p class="intro-txt">
         The first stop of the NodeSchool Norway Tour was Oslo and the Fronter AS H.Q.
      </p>
      <ul class="intro-linx">
         <li><a href="/tour">Tour page</a></li>
         <li><a href="/tour/tv">Slow TV map</a></li>
         <li><a href="/tour/bergen">Bergen</a></li>
         <li><a href="#">Oslo</a></li>
         <li><a href="/tour/bartcity">Trondheim</a></li>
      </ul>
  </div>
  <div class="events">
      <div class="streched event-container">
         <div class="event-item">
           <p>The awesome people of <a href="http://com.fronter.info/virtual-learning-environment-lms/jobs/">Fronter AS</a> hosted the first ever NodeSchool event in Norway.</p>
           <p>
           <img src="/img/tour/oslo/20140524_114510.jpg">
           <img src="/img/tour/oslo/20140524_114520.jpg">
           <img src="/img/tour/oslo/20140524_130045.jpg">
           <img src="/img/tour/oslo/20140524_135247.jpg">
           <img src="/img/tour/oslo/DSC_0122.JPG">
           <img src="/img/tour/oslo/DSC_0130.JPG">
           <img src="/img/tour/oslo/DSC_0131.JPG">
           <img src="/img/tour/oslo/DSC_0135.JPG">
           <img src="/img/tour/oslo/DSC_0139.JPG">
           <img src="/img/tour/oslo/DSC_0145.JPG">
           </p>
           <p>Got pictures? <a href="mailto:iwasatosloworkshop [at replace with a]webrebels.org">Send us a link</a> and we'll put them up!
         </div>
      </div>
  </div>
</div>
</body>
</html>
