
<% include header.ejs %>

<div class="content">
	<div class="intro">
      <p class="intro-txt">
         Follow the route of the Nodeschool Norway Tour!
         Have marching bands stand by the road to great them. Bake cakes and present babies to them when they stop to fill gasoline!
         This is THE slow TV event of the year!
      </p>
      <ul class="intro-linx">
         <li><a href="./">Tour page</a></li>
         <!--
         <li><a href="./bergen">Bergen</a></li>
         -->
         <li><a href="./oslo">Oslo</a></li>
         <!--
         <li><a href="./bartcity">Trondheim</a></li>
         -->
      </ul>
  </div>
  <div class="events">
      <div class="streched event-container">
         <div class="event-item">
         <p>Follow our heroes as the make their way through Norway on their Nodeschool tour. If you live at their stopping points, you can bring your laptop and get help with any Node problem you may have. </p>
         </div>
      </div>
  </div>
</div>
</body>
</html>