
<% include header.ejs %>

<div class="content">
	<div class="intro">
      <p class="intro-txt">
         Follow the route of the Nodeschool Norway Tour!
         Have marching bands stand by the road to great them. Bake cakes and present babies to them when they stop to fill gasoline!
         This is THE slow TV event of the year!
      </p>
      <ul class="intro-linx">
         <li><a href="./">Tour page</a></li>
         <li><a href="./tv">Slow TV map</a></li>
         <!--
         <li><a href="./bergen">Bergen</a></li>
         -->
         <li><a href="./oslo">Oslo</a></li>
         <!--
         <li><a href="./bartcity">Trondheim</a></li>
         -->
      </ul>
  </div>
  <div class="events">
      <div class="streched event-container">
         <div class="event-item">
         <p>Below is the route they'll be traveling, so if you live along the route make sure you put on your best clothes and cheer the crew on as they make their way through Norway!</p>
         <iframe src="https://mapsengine.google.com/map/embed?mid=zzoBeIZzFges.kc0oFAUHkE1Y" width="100%" height="480"></iframe>
         </div>
      </div>
  </div>
</div>
</body>
</html>