<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
    <div class="l-content-inner">
        <h1 class="ratherloud-heading">About the Web Rebels Conference</h1>
        <p>The Web Rebels conference is a non-profit, community driven conference for everyone who loves developing applications and services using web technology. Nobody involved with the Web Rebels Conference recieves any money or other benefits from hosting the conference and nobody who speaks are getting paid for anything but their travel and acomodation.<br>We are proud members of <a href="http://jsconf.com/">the JSConf family of events</a>. If you want to get a feel for what the conference is about checkout our <a href="https://vimeo.com/webrebels">videos</a> or <a href="http://flickr.com/webrebels">photos</a> taken from preivous years.</p>
        <article>
            <h2>We Love the Community</h2> 
            <p> We love our community and we've set aside <a href="http://bit.ly/wr-love">30% of the profits made</a> during the conference to community groups throughout the Nordic region. We want to give something back to the community that fuels our conference, they are the ones who do the hard work of putting up events month after month. This is our way of recognizing their hard work.</p>
        </article>
        <article>
            <h2>Conference Code of Conduct</h2>
            <p>Everyone taking part in the Web Rebels Conference must abide by the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>. We all want these couple of days to be unforgettable, so let's just have a great time!</p>
        </article>
        <article>     
            <h2>Questions? Contact us!</h2>
            <p> Any questions you might have, please do not hesitate to <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a> or contact us <a href="http://twitter.com/web_rebels/">on the twitters</a>.</p>
        </article>
        <article>
            <h3>This years website design</h3>
            <p>The amazing design for this years website is done by the incredible <a href="http://elisabethirgens.com/">Elisabeth Irgens</a>, make sure you book her for your design jobs!</p>
        </article>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>