<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>


<div class="l-content">
    <div class="l-content-inner oslo">
        <h1 class="ratherloud-heading">Family Rebels!</h1>
        <p>Those of you traveling to Oslo with your families we put up some pointers on what you can do in case you get bored hanging out at the conference.</p>
        <p>Getting arround Oslo is easiest done using tram, metro or bus. All you need is a Ruter ticket and you'll be fine! If you have any questions at all, please just <a href="mailto:familylove[ replace this bracket with a @]webrebels.org">give us a shout</a>, some of us have kids on our own and we know it can be a challenge arriving in a new city on your own.</p>

        <h2>Island hopping</h2>
        <p>Traveling to the islands just outside the city is easy and all you need is a ticket for public transportation. You can just travel with the boat to see all the islands, or you can hop off and go for a swim or catch some sun. Our beaches aren't sandy and nice, but they are close!<br>
        <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Vippetangen/@59.9133434,10.7316557,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x46416e8fc8ba5075:0x7e2d6f78727792b6!2m2!1d10.740768!2d59.902205!3e3">Directions</a>, we advice you to take the tram and then Bus 60. Once you arrive there signs will show you to were the island ferries are. In the summer you will be acompanied by many fellow travelers making the same journey.</p>

        <h2>Catch a movie</h2>
        <p>If you're not a native speaker, you can still go enjoy most movies at the cinemas. Norwegian cinema does not dub movies unless they're for kids (and the ones for kids usually have a screening with the original language). In case you want to catch a movie visit <a href="http://www.oslokino.no/article1066750.ece">Oslo kino</a> web site for details.</p>

        <h2>Play time in Frogner park</h2>
        <p>Oslo have a few parks which are all nice to give you a bit of a break. The Frogner Park (see deailts on the <a href="./oslo#Sights">Oslo survival guide</a>) also features a special area were toddlers and small children can enjoy themselves. Just make a left once you go in the entrance (or just follow the noise) and you should see it.</p>

        <h2>Heights and adrenaline on the top of Oslo</h2>
        <p>One of the fairly new attractions in Oslo is the <a href="http://www.oslosommerpark.no/welcome-to-oslo-summer-park">Oslo Summer Park</a>. Located overlooking the city it has challenges for kids and adults a like. Going on a tree top safari is fun and great execise. There are multiple tracks and you will be given safety instructions on site, so no prior experience is needed. If you want more adrenalin, you can rent a down hill bike ride with a lift to get you back up.
        <a href="http://www.oslosommerpark.no/welcome-to-oslo-summer-park/transportation-to-oslo-summerpark#.U2ZY9K1_vFQ">Directions</a>
        </p>
        <h2>Hangout on Tjuvholmen</h2>
        <p>Located right next to the tourist trap Aker Brygge is <a href="http://www.tjuvholmen.no/english/">Tjuvholmen</a>. It has a wide selection of galleries, including the famous <a href="http://www.tjuvholmen.no/english/?did=9097488">Astrup Fearnley Museum</a>. You can enjoy Tjuvholmen even though you aren't into the arts. There are some green lungs out there and kids can even go get their feet wet. However, everything that is located in the proximity of Aker Brygge is expensive even for Norwegian standards. Luckily the cool things to do on Tjuvholmen are free!
        </p>
        <h2>Miniature golf</h2>
        <p>At the beginning of the Grünerløkka borough is a <a href="http://aktiviteterforbarn.no/aktivitet/grunerl%C3%B8kka-minigolf-park">miniature golf course</a>. It could make for a welcome break from walking the city. <a href="http://aktiviteterforbarn.no/aktivitet/grunerl%C3%B8kka-minigolf-park/kart">Directions</a></p>

        <h2>Baby rebels</h2>
        <p>If you are brining baby Rebels to the conference you should find Oslo a fairly easy city to enjoy. Most restaurants and cafes have facilities for you to take care of those special deliveries. You will also find special faclities in most shopping malls for those nursing your baby, but you can also do that whereever you feel comfortable as that is what most Norwegians tend to do.</p>

        <p>If you have any questions at all, please just <a href="mailto:familylove[ replace this bracket with a @]webrebels.org">give us a shout</a>, some of us have kids on our own and we know it can be a challenge arriving in a new city on your own.</p>
    </div>
</div>

    <% include includes/footer.ejs %>
</body>
</html>
