<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>


<div class="l-content">
    <div class="l-content-inner oslo">
        <h1 class="ratherloud-heading">Family Rebels!</h1>
        <p>Those of you traveling to Oslo with your families we put up some pointers on what you can do in case you get bored hanging out at the conference.</p>
        <p>Getting arround Oslo is easiest done using tram, metro or bus. All you need is a Ruter ticket and you'll be fine! If you have any questions at all, please just <a href="mailto:familylove[ replace this bracket with a @]webrebels.org">give us a shout</a>, some of us have kids on our own and we know it can be a challenge arriving in a new city on your own.</p>

        <h2><a href="http://www.hoppihavet.no/">Hopp i havet</a> (Get in the ocean!)</h2>
        <p>If you've brought the kids along for the conference you might let them check out the local activity center Hopp i Havet (which roughly translates to Jump in the sea). It is a huge building with long slides, trampolines, climbing towers and all kinds of obcstacles. It's got loads of fun things all in an atmosphere of being at the bottom of the sea.<br>
        <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Hopp+i+Havet+AS,+Sandakerveien+24C,+0473+Oslo,+Norway/@59.9288301,10.7390494,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x46416e6b51a91e4f:0x53599b8174d32bdd!2m2!1d10.75942!2d59.935001!3e2">Directions</a>
        </p>
        
        <h2><a href="http://www.kolsaas.no/vulkan/">Vulkan Klatresenter (Vulkan Climbing Center)</a></h2>
        <p>If you're up for a little bouldring or indoor rock climbing, we've got just the thing for you! Right outside the conference venue there is a Vulkan Klatresenter (Vulkan Climbing Center). It's got three different walls and has routes for the novice and the master. It could be worth a visit for the older kids.<br>
        <a href="http://www.visitoslo.com/en/activities-and-attractions/boroughs/grunerlokka/activities/?TLp=182446&Vulkan-Climbing-Centre=">English review</a>
        </p>

        <h2><a href="http://www.nhm.uio.no/english/">The Natural History Museum</a></h2>
        <p>It is the home of the world’s oldest complete primate skeleton <a href="http://www.nhm.uio.no/english/visiting/geological-museum/ida/">Ida</a> and they got some pretty awesome dinosaur skeletons. The museum and it's surrounding park area is frequently visited by kindergardens from all over the city and they all love it. With it's <a href="http://www.nhm.uio.no/english/visiting/botanical-garden/">Botanical garden</a>, <a href="http://www.nhm.uio.no/english/visiting/zoological-museum/">Zoological</a> and <a href="http://www.nhm.uio.no/english/visiting/geological-museum/">Geological</a> you are certain to have an educational time. The museum is located in lovely Tøyen and it is close to the Munch Museum and the Tøyen park. Which means you can just go arround and hang out in the park or visit some of the museums.<br><a href="http://www.nhm.uio.no/english/visiting/map/">Directions</a>
            </p>

        <h2>Island hopping</h2>
        <p>Traveling to the islands just outside the city is easy and all you need is a ticket for public transportation. You can just travel with the boat to see all the islands, or you can hop off and go for a swim or catch some sun. Our beaches aren't sandy and nice, but they are close!<br>
        <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Vippetangen/@59.9133434,10.7316557,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x46416e8fc8ba5075:0x7e2d6f78727792b6!2m2!1d10.740768!2d59.902205!3e3">Directions</a>, we advice you to take the tram and then Bus 60. Once you arrive there signs will show you to were the island ferries are. In the summer you will be acompanied by many fellow travelers making the same journey.</p>

        <h2>Spend time on the farm</h2>
        <p>You want to get some fresh air and perhaps even check out some farm animals and stuff? Well, <a href="http://www.bogstad.no/">Bogstad Manor</a> is located right at the beginning of <a href="">Sørkedalen</a>. The farm is overlooking Bogstadvannet (Bogstad lake) and has a little play area for smaller children. The farm has some animals (sheep, cows, horses and goats) and depending on when you go there, they might be arround for you to look at. You can stroll in the park connected to the main building. Right next to the farm is the Bogstad beach which is a very nice place for kids to play and go for a swim. If you need a time out from the city, this could be what you need.<br>
        <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Bogstad+G%C3%A5rd,+S%C3%B8rkedalen+826,+0758+Oslo,+Norway/@59.9413597,10.6225426,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x464172a129fbf433:0xf3f3d22d099e2c9d!2m2!1d10.626676!2d59.971804!3e3">Getting there</a> takes you about forty minutes, but on a beutiful summer day it will be well worth it.</p>

        <h2>Catch a movie</h2>
        <p>If you're not a native speaker, you can still go enjoy most movies at the cinemas. Norwegian cinema does not dub movies unless they're for kids (and the ones for kids usually have a screening with the original language). In case you want to catch a movie visit <a href="http://www.oslokino.no/article1066750.ece">Oslo kino</a> web site for details.</p>

        <h2>Play time in Frogner park</h2>
        <p>Oslo have a few parks which are all nice to give you a bit of a break. The Frogner Park (see deailts on the <a href="./oslo#Sights">Oslo survival guide</a>) also features a special area were toddlers and small children can enjoy themselves. Just make a left once you go in the entrance (or just follow the noise) and you should see it.</p>

        <h2>Heights and adrenaline on the top of Oslo</h2>
        <p>One of the fairly new attractions in Oslo is the <a href="http://www.oslosommerpark.no/welcome-to-oslo-summer-park">Oslo Summer Park</a>. Located overlooking the city it has challenges for kids and adults a like. Going on a tree top safari is fun and great execise. There are multiple tracks and you will be given safety instructions on site, so no prior experience is needed. If you want more adrenalin, you can rent a down hill bike ride with a lift to get you back up.
        <a href="http://www.oslosommerpark.no/welcome-to-oslo-summer-park/transportation-to-oslo-summerpark#.U2ZY9K1_vFQ">Directions</a>
        </p>
        <h2>Hangout on Tjuvholmen</h2>
        <p>Located right next to the tourist trap Aker Brygge is <a href="http://www.tjuvholmen.no/english/">Tjuvholmen</a>. It has a wide selection of galleries, including the famous <a href="http://www.tjuvholmen.no/english/?did=9097488">Astrup Fearnley Museum</a>. You can enjoy Tjuvholmen even though you aren't into the arts. There are some green lungs out there and kids can even go get their feet wet. However, everything that is located in the proximity of Aker Brygge is expensive even for Norwegian standards. Luckily the cool things to do on Tjuvholmen are free!
        </p>
        <h2>Miniature golf</h2>
        <p>At the beginning of the Grünerløkka borough is a <a href="http://aktiviteterforbarn.no/aktivitet/grunerl%C3%B8kka-minigolf-park">miniature golf course</a>. It could make for a welcome break from walking the city. <a href="http://aktiviteterforbarn.no/aktivitet/grunerl%C3%B8kka-minigolf-park/kart">Directions</a></p>

        <h2>Baby rebels</h2>
        <p>If you are brining baby Rebels to the conference you should find Oslo a fairly easy city to enjoy. Most restaurants and cafes have facilities for you to take care of those special deliveries. You will also find special faclities in most shopping malls for those nursing your baby, but you can also do that whereever you feel comfortable as that is what most Norwegians tend to do.</p>

        <p>If you have any questions at all, please just <a href="mailto:familylove[ replace this bracket with a @]webrebels.org">give us a shout</a>, some of us have kids on our own and we know it can be a challenge arriving in a new city on your own.</p>
    </div>
</div>

    <% include includes/footer.ejs %>
</body>
</html>
