<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/2014.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
	<div style="width:100%; text-align: center; margin-top: 100px;">
    	<img src="gfx/webrebels_vintage.png" alt="Web Rebels 2014">
    	<h2>May 22 - 23, 2014</h2>
    	<h2>Oslo, Norway</h2>
    	<% include includes/footer.ejs %>
    </div>
    
</body>
</html>