<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body class="index">
<% include includes/header.ejs %>
<div class="l-hellospeakers">
   <div class="l-hellospeakers-inner">
   <h2 class="visuallyhidden">Speakers</h2>
      <ul class="speakers group">
         <li>
            <a class="speaker-link" href="/speakers#marijn" title="Marijn Haverbeke">
               <img class="speaker-img" src="img/speakers/marijn.png" alt="Marijn Haverbeke">
               <h3 class="speaker-name ratherloud-person">Marijn Haverbeke</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#arne_martin" title="Arne Martin Aurlien">
               <img class="speaker-img" src="img/speakers/martin.png" alt="Arne Martin Aurlien">
               <h3 class="speaker-name ratherloud-person">Arne Martin Aurlien</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#substack" title="James Halliday">
               <img class="speaker-img" src="img/speakers/james.png" alt="James Halliday">
               <h3 class="speaker-name ratherloud-person">James “substack” Halliday</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#max" title="Max Ogden">
               <img class="speaker-img" src="img/speakers/max.png" alt="Max Ogden">
               <h3 class="speaker-name ratherloud-person">Max Ogden</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#angus" title="Angus Croll">
               <img class="speaker-img" src="img/speakers/angus.png" alt="Angus Croll">
               <h3 class="speaker-name ratherloud-person">Angus Croll</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
      </ul>
   </div>
</div>
<div class="l-content">
   <div class="l-content-inner">
        <h1 class="ratherloud-heading">Tickets - first batch Friday 7th of March</h1>
        <p>First batch of tickets go on sale Friday 7th of March at 14:00 CET!<br>
        These are the early rebels tickets and they are dirt cheap. Our prices are unchanged from last year, which means it's even cheaper than last year.</p>
        <h1 class="ratherloud-heading">The Venue</h1>
        <p>
            Fabrikken, located in the newly 
            constructed area, Vulkan, at Grünerløkka. The venue has brand 
            new and modern facilities and is one of Norway's most energy 
            efficient buildings with top notch air conditioning and high speed fiber internets. 
            <a href="location" class="more">Find out more about the venue &rarr;</a>
         </p>       
<%/*
         <h1 class="ratherloud-heading">Oslo survival guide for Web Rebels!</h1>
        <p>We’ve put together this short list of things and places we appreciate in our beloved city. If you’re planning on staying for an extra few days, they’re well worth a visit. Most of the places are located close to the conference venue and hotel in the borough of Grünerløkka.
           <a href="location" class="more">Yes, tips please! &rarr;</a>
        </p>
*/%>
        <h1 class="ratherloud-heading">About the conference</h1>
        <p>
            We are a non-profit, community
            driven conference for everyone who loves developing
            applications and services using web technology. We are very excited to once again welcome all of
            our friends around the world! <a href="about" class="more">Read more about Web Rebels &rarr;</a>
        </p>               
   </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>