<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="Web Rebels are a non-profit, community driven conference for everyone who loves developing applications and services using web technology.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body class="index">
<% include includes/header.ejs %>
<div class="l-hellospeakers">
   <div class="l-hellospeakers-inner">
   <h2 class="visuallyhidden">Speakers</h2>
      <ul class="speakers group">
         <li>
            <a class="speaker-link" href="/speakers#angus" title="Angus Croll">
               <img class="speaker-img" src="img/speakers/angus.png" alt="Angus Croll">
               <h3 class="speaker-name ratherloud-person">Angus Croll</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#arne_martin" title="Arne Martin Aurlien">
               <img class="speaker-img" src="img/speakers/martin.png" alt="Arne Martin Aurlien">
               <h3 class="speaker-name ratherloud-person">Arne Martin Aurlien</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#substack" title="James Halliday">
               <img class="speaker-img" src="img/speakers/james.png" alt="James Halliday">
               <h3 class="speaker-name ratherloud-person">James “substack” Halliday</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#jed" title="Jed Schmidt">
               <img class="speaker-img" src="img/speakers/jed.png" alt="Jed Schmidt">
               <h3 class="speaker-name ratherloud-person">Jed Schmidt</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#jessica" title="Jessica Lord">
               <img class="speaker-img" src="img/speakers/jessica.png" alt="Jessica Lord">
               <h3 class="speaker-name ratherloud-person">Jessica Lord</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#marijn" title="Marijn Haverbeke">
               <img class="speaker-img" src="img/speakers/marijn.png" alt="Marijn Haverbeke">
               <h3 class="speaker-name ratherloud-person">Marijn Haverbeke</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#max" title="Max Ogden">
               <img class="speaker-img" src="img/speakers/max.png" alt="Max Ogden">
               <h3 class="speaker-name ratherloud-person">Max Ogden</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#mikola" title="Mikola Lysenko">
               <img class="speaker-img" src="img/speakers/mikola.png" alt="Mikola Lysenko">
               <h3 class="speaker-name ratherloud-person">Mikola Lysenko</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#nuno" title="Nuno Job">
               <img class="speaker-img" src="img/speakers/nuno.png" alt="Nuno Job">
               <h3 class="speaker-name ratherloud-person">Nuno Job</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#parisa" title="Parisa Tabriz">
               <img class="speaker-img" src="img/speakers/parisa.png" alt="Parisa Tabriz">
               <h3 class="speaker-name ratherloud-person">Parisa Tabriz</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#vyacheslav" title="Vyacheslav “mraleph” Egorov">
               <img class="speaker-img" src="img/speakers/vyacheslav.png" alt="Vyacheslav “mraleph” Egorov">
               <h3 class="speaker-name ratherloud-person">Vyacheslav “mraleph” Egorov</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#anette" title="Anette Bergo">
               <img class="speaker-img" src="img/speakers/anette.png" alt="Anette Bergo">
               <h3 class="speaker-name ratherloud-person">Anette Bergo</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers#patrick" title="Patrick H. Lauke">
               <img class="speaker-img" src="img/speakers/patrick.png" alt="Patrick H. Lauke">
               <h3 class="speaker-name ratherloud-person">Patrick H. Lauke</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
         <li>
            <a class="speaker-link" href="/speakers" title="">
               <img class="speaker-img" src="img/speakers/tba.png" alt="">
               <h3 class="speaker-name ratherloud-person">TBA</h3>
            </a>
         </li>
      </ul>
   </div>
</div>
<div class="l-content">
   <div class="l-content-inner">
        <h1 class="ratherloud-heading">Open Mic CFP is now open!</h1>
        <% include includes/openmiccfp.ejs %>
        <h1 class="ratherloud-heading">The Venue</h1>
        <p>
            Fabrikken, located in the newly 
            constructed area, Vulkan, at Grünerløkka. The venue has brand 
            new and modern facilities and is one of Norway's most energy 
            efficient buildings with top notch air conditioning and high speed fiber internets. 
            <a href="location" class="more">Find out more about the venue &rarr;</a>
         </p>
         <h1 class="ratherloud-heading">Oslo survival guide</h1>
         <p>We’ve put together this short list of things and places we appreciate in our beloved city. If you’re planning on staying for an extra few days, they’re well worth a visit. Most of the places are located close to the conference venue and hotel in the borough of Grünerløkka. <a href="oslo" class="more">Check out the survival guide! &rarr;</a></p>
<%/*
         <h1 class="ratherloud-heading">Latest</h1>
         <div id="twitter-follow" class="twitter"></div>


        <h1 class="ratherloud-heading">Sign up for news, ticket info, etc</h1>
        <p>If you do not want to rely on catching the <a href="//twitter.com/web_rebels">news on Twitter</a>, we send email about the important things. No spam, we promise.</p>
        <div id="mc_embed_signup">
            <form action="http://webrebels.us3.list-manage1.com/subscribe/post?u=f515e6756e5ffeffd7a28a60d&amp;id=7d5e649dbe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="mc-field-group">
            	<label for="mce-EMAIL">Email
            </label>
            	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group input-group">
                <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
            <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
            </ul>
            </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_f515e6756e5ffeffd7a28a60d_7d5e649dbe" value=""></div>
            	<div class="clear"><input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
        </div>
        <h1 class="ratherloud-heading">About the conference</h1>
        <p>
            We are a non-profit, community
            driven conference for everyone who loves developing
            applications and services using web technology. We are very excited to once again welcome all of
            our friends around the world! <a href="about" class="more">Read more about Web Rebels &rarr;</a>
        </p>  

*/%>
   </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
