<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
   <div class="l-content-inner">
         <p>
          Everything related to the conference happens within a 200m radius of the venue: the pre-party, the conference, the conference party and Open Mic Night.
        </p>
        
        <h1 class="ratherloud-heading">The Venue</h1>
        <p>
            Fabrikken, located in the newly 
            constructed area, Vulkan, at Grünerløkka. The venue has brand 
            new and modern facilities and is one of Norway’s most energy 
            efficient buildings with top notch air conditioning and high speed fiber internets. 
         </p>
        <p>
          Oslo’s first gourmet food market is located about 20 metres
          from the venue, with a wide selection of gourmet food
          stores, restaurants, excellent coffee and beer shops. All
          food served at the conference will be provided from these establishments.
        </p>
        <a name="map"></a>
        <div id="locationmap" style="display:block;">
          <div id="map" class="map" style="height:300px;"> </div>
        </div>
         
      <h2 class="ratherloud-heading"><a href="/oslo">Oslo survival guide for Web Rebels!</a></h2>
        <p>We’ve put together a list of things and places we appreciate in our beloved city. If you’re planning on staying for an extra few days, they’re well worth a visit. Most of the places are located close to the conference venue and hotel in the borough of Grünerløkka.
           <a href="/oslo" class="more">Oslo Survival guide</a>
        </p>       


      <article>
        <h2>Getting to Oslo</h2>
        <p>
          You can travel to Norway cheaply (No, Really)! <a target="_blank" href="http://norwegian.no/en/">Norwegian</a> and
          <a target="_blank" href="http://www.flysas.com/en/uk/">SAS</a>
          both have lower priced tickets on sale which
          you can get if you make reservations early.
          <a target="_blank" href="http://norwegian.no/en/">Norwegian</a>
          tends to be the cheapest option; check out their
          <a href="http://www.norwegian.no/en/flight/lowfare/?D_City=LGW&A_City=OSL&TripType=2&D_Month=201305&R_Month=201305&AdultCount=1&ChildCount=0&InfantCount=0">calendar
          app for cheapest flights in the period</a> (this URL links
          to flights from London to Oslo). SAS generally offers a more comfortable flight, but
          Norwegian offers free in-flight wifi.
        </p>

       <h3 id="to_and_from_oslo_airport">To and from Oslo Airport</h3>
        <p>
          Whatever you do, don’t grab a taxi from the
          airport. It's a really long and expensive ride. The
          cheapest way to get to Oslo proper is by bus, but the
          airport express train is also quite reasonable, and is by
          far the most convenient. You'll want to get off the train at
          Oslo Central Station, where you'll find taxis and public
          transport aplenty. If you're staying at the conference
          hotel, see the guide for getting to the venue above.
        </p>
        
        <p>The address to the venue is <a href="https://maps.google.com/maps?q=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&sll=59.922366,10.753341&sspn=0.003699,0.013078&dirflg=w&hq=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&t=m&z=15">Maridalsveien 13-17</a>.</p>
        <h2>Getting to the venue</h2>

        <a name="walking"></a>
        <h3>Walking</h3>
        <p>
          You can <a
          href="http://www.vulkanoslo.no/download.aspx?object_id=9A47978347B74EF395B7CCAF545A16E2.pdf">download
          a map</a> created by the owners of a venue nearby.
        </p>

        <a name="tram"></a>
        <h3>Tram</h3>
        <p>
          Tram lines 11, 12 and 13 all stop at <em>Schous plass</em>, where
          you can walk down Nordregate and across the bridge to
          Vulkan. <a href="https://maps.google.com/maps?saddr=Schous+plass+%4059.920807,10.759322&daddr=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&sll=59.921947,10.759327&sspn=0.007399,0.026157&geocode=FadRkgMdmiykAA%3BFWBZkgMdpg2kACkxFrWeZW5BRjFlM5P44AGB6w&mra=ls&t=m&z=17">Get directions</a>.
        </p>

        <a name="bus"></a>
        <h3>Bus</h3>
        <p>
          Buses 34 and 54 stop at <em>Møllerveien</em>. Walk down
          Møllerveien and make a left at Dansens Hus.
          <a href="https://maps.google.com/maps?saddr=Maridalsveien&daddr=Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway&hl=en&ll=59.921904,10.753341&spn=0.003699,0.013078&sll=59.920302,10.752321&sspn=0.0037,0.013078&geocode=FeVQkgMd5A2kAA%3BFWBZkgMdpg2kACkxFrWeZW5BRjFlM5P44AGB6w&dirflg=w&mra=mift&mrsp=0&sz=17&t=m&z=17">Get directions.</a>
        </p>

        <a name="taxi"></a>
        <h3>Taxi</h3>
        <p>
          The address is <em>Maridalsveien 13-17</em>. Please note
          that taxi fares in Norway are quite expensive.
        </p>

        <h2 id="staying_in_oslo">Staying in Oslo</h2>
        <p>
          There are several great hotels within walking distance of
          the venue. Oslo can be a busy town, so we recommend booking
          your room early! Here are some of the hotels closest to our
          venue:
        </p>

        <h3><a id="scandic_hotel_vulkan" href="http://www.scandichotels.no/Hotels/Countries/Norge/Oslo/Hotels/Vulkan/#.UR6ROqvipms">Scandic Hotel Vulkan</a></h3>
        <p>
          Scandic Hotel Vulkan is a modern hotel right next door to the venue. By
          staying here, your will be able to walk in your slippers from
          your room and into the venue.
        </p>

        <h3><a id="ps:hotell" href="http://www.pshotell.no/">PS:Hotell</a></h3>
        <p>
          We're also happy that there is a cheaper hotel at the
          premises, just 20-30m from the venue, which has extremely
          low prices.
        </p>

        <h3><a id="comfort_hotel_xpress_oslo" href="http://www.comforthotelxpress.no/">Comfort Hotel xPress Oslo</a></h3>
        <p>
          One of the coolest new hotels in the city, similar to the
          <a href="http://yotel.com">Yotel concept</a> in other cities.
          It's located right in the
          <a href="https://www.google.com/maps?q=m%C3%B8llergata+26+oslo&hl=no&ie=UTF8&sll=61.143235,9.09668&sspn=0.007953,0.018969&z=16">heart
          of rock'n roll Oslo</a> and still within walking
          distance of the venue. Free wifi, naturally.
        </p>
        
        <h2 id="splurge">Splurge</h2>
        <p>
          If your company’s paying anyway why not splurge? Unlike most other things in Norway, hotels in Oslo are
          surprisingly cheap. You can stay at the 5 star
          <a href="http://www.radissonblu.com/plazahotel-oslo">Radisson
          BLU Plaza</a>, located in the heart of the city, right next
          to all the public transport you’ll need to get to the venue,
          for a lot less than you’d expect.
          If you want to go all out on the expense account,
          though, there’s always
          <a href="http://www.hotelcontinental.no/flash.aspx?ID=338&AreaID=2">Hotel
          Continental</a>. We expect that if you can afford to stay
          there, you won't mind having to get to the venue by taxi.
        </p>
    </article>

   </div>
</div>
<% include includes/footer.ejs %>
<script src="/js/map.js"></script>
</body>
</html>