<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
    <div class="l-content-inner">
        <h1 class="ratherloud-heading">Open Mic Night by <a href="https://www.xeneta.com/"><img src="/img/sponsors/xeneta_smaller.png" style="padding:0;margin:0;"></a></h1>
        <h2>Call for papers is now open!</h2>
        <% include includes/openmiccfp.ejs %>

        <h3>FAQ</h3>
        <p><strong>Do I need a ticket to submit a talk?</strong><br>
        No. Open Mic is an open community event which is open for everyone to attend and submit talks.</p>
        <p><strong>What equipment is at the Open Mic venue?</strong><br>
        There will be a projector, microphone and Wi-Fi available. If you don't have a device to do a presentation, let us know and we'll sort it out.</p>


        <a name="aboutomn"></a><h2>About Open Mic Night</h2>
        <p>The Open Mic Night takes place at
          <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>
          which is just next door to the <a href="/location">conference venue</a>. At the Open
          Mic Night you will be able to get on the stage and do a lightning talk on any topic you want.
        </p>

        <p>At Open Mic Night, you get to hang out
          and listen to some brilliant  talks by some of the amazing
          new talent. One of them is coming back as a speaker at
          this year's conference. This is exactly why we hosted the
          Open Mic Night: to help promote new talent!
        </p>

        <h3>Here's How Open Mic Night Works</h3>
        <ul>
            <li>Open Mic Night is a small pre-party</li>
            <li>Batches of 10 minute lightning talks</li>
            <li>Hang out with speakers, attendants and other members of our community</li>
        </ul>
        <h3>This is your chance to shine - why we have Open Mic!</h3>
        <p>
          There is always a first time for everything. There is a
          first time for when you laid your hand on a keyboard, there
          is a first time for when you wrote "hello world," and there
          is a first time for when you released some code you wrote.
        </p>
        <p>
          We have picked some awesome rock stars to speak at Web
          Rebels. They are experienced in the art of public speaking.
          But: there was also a first time for them when they first
          spoke in public.
        </p>
        <p>
          When you see them up there on the stage they might look like
          gurus, but they are no different from everyone else. They
          sure are good in what they do, but they are only different
          in the fact that they have taken the step to speaking in
          public.
        </p>
        <p>
          Through organizing <a target="_blank" href="http://www.meetup.com/framsia/">meetups</a>
          on a regular basis and keeping our eyes open for what’s going
          on around us, we see so much cool stuff being done by not yet
          rock stars. You attendees know so much and create so much
          amazing stuff that we are regularly blown away. We think you
          should be given the chance to show off. But, yes, we know,
          that first step can be hard to take.
        </p>
        <p>
          So, we would like to create an environment where those who
          would love to try or take the first step towards public
          speaking can get a chance to do so during Web Rebels.
        </p>
        <p><a href="https://www.xeneta.com/"><img style="padding:0;padding-top:20px;margin:0;margin-right:10px;" src="/img/sponsors/xeneta_small.png" alt="Xeneta"></a><br>Proud sponsors of Open Mic Night!</p>

    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>