<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>


<div class="l-content">
    <div class="l-content-inner survival">
        <h1 class="ratherloud-heading">Oslo survival guide for Web Rebels!</h1>
        <p>Coming to a city for the first time you might not know where to go and what to see. We've put together this short list of things and places we appreciate in our beloved city. If you're planning on staying for an extra few days they're well worth a visit. Most of the places are located close to the conference venue and hotel in <a href="http://en.wikipedia.org/wiki/Gr%C3%BCnerl%C3%B8kka">the borough of Grünerløkka</a>.</p>
        <p>Taking the family with you? In that case we have made a <a href="./family"> family special</a> of the survival guide.</p>


        <ul class="survivalmenu">
           <li class="survivalmenu-item ratherloud-heading"><a href="#Grub">Grub</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Coffee">Coffee</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Grog">Grog</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Nightlife">Nightlife</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Sights">Sights</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Adventure">Adventure</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="#Shops">Shops</a></li>
           <li class="survivalmenu-item ratherloud-heading"><a href="./family">Family</a></li>
        </ul>

        <h2 id="Grub" class="ratherloud-heading survivalcat">Grub</h2>
        <article class="item">
            <h2><a href="http://www.nighthawkdiner.com/">Nighthawk Diner</a></h2>
            <p>If you feel hung over and still have some money left, this is the place to go to. About as close you can come to an authentic American diner in Oslo. Amazing food, shakes and pancakes.<br>
            <a href="http://maps.google.no/maps?sugexp=chrome,mod%3D17&um=1&hl=en&ie=UTF-8&cid=0,0,15924518314833332275&fb=1&hq=night+hawk+diner&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo&gl=no&daddr=Seilduksgata+15,+0553+Oslo&geocode=0,59.925493,10.758753&sa=X&ei=dOaaT4bjBMbNtAbX1ZyUDg&ved=0CBMQngIwAA">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.dognvillburger.no/">Døgnvill Burger</a></h2>
            <p>Located right next to the conference venue this is a great place for grabbing a real burger. It is one of the top three burger joints in the city. The variety when it comes to burgers is outstanding and they have really good selection of shakes to go with it if that is your poison. It was indeed the venue of the pre-conference dinner for the speakers last year, so you might run into some rebel-celebrities too..</p>
        </article>
        <article class="item">
            <h2><a href="http://www.nam-fah.com/">Nam Fah</a></h2>
            <p>Just up the street from the venue towards Grünerløkka you find one of the best places for Thai food in Norway. They only do take away and you can expect queues of locals all craving Thai food. All at a reasonable price. Grab some food and just head out to one of the parks near by and you'll be in for a treat.<br>
            <a href="http://www.yelp.com/biz/nam-fah-oslo">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.villaparadiso.no/">Villa Paradiso</a></h2>
            <p>If you're into Italian-style pizza this is the place to go to. They serve the best pizza in town at a decent price.<br>
            <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Olaf+Ryes+plass+8,+0552+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.923489,10.757549&cid=0,0,14757481769256393510&hq=Pizza+Paradiso&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo,+Norway">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="https://www.facebook.com/pages/Illegal-Burger/171199846244007?v=wall">Illegal Burger</a></h2>
            <p>One of our favorite burger joints with excellent food at a very decent price. This is fast food at it's best, you'll be
                in and out in ten minutes.<br>
            <a href="http://maps.google.no/maps/place?sugexp=chrome,mod%3D1&um=1&ie=UTF-8&q=illegal+burger&fb=1&gl=no&hq=illegal+burger&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo&cid=18012886209070138292">Directions</a>.</p>
        </article>
        <article class="item">
            <h2><a href="http://www.mathallenoslo.no/">Mathallen</a></h2>
            <p>Mathallen is right on the premises of the conference. It provides you with a lot of amazing food from Norway. The prices are also very Norwegian, so if you're on a tight budget you might want to go elsewhere.</p>
        </article>
        <div class="separator"></div>
        <h2 id="Coffee" class="ratherloud-heading survivalcat">Coffee</h2>
        <p>One of the things Oslo has become famous for in the last couple of years is its amazing coffee scene with world class baristas serving up brilliant coffees who won't find at your local Starbucks.
        We have listed some of our favorites, enjoy!</p>
        <article class="item">
            <h2><a href="http://www.supremeroastworks.no/">Supreme roastworks</a></h2>
            <p>One of the hot new items on the Oslo coffee scene is the really cool Supreme roastworks. It is a roastery and coffee bar all in one. Located right in the heart of Grünerløkka it is well worth a visit, more details in this <a href="http://www.kinfolk.com/city_guide/oslo-supreme-roastworks/">Kinfolk piece</a>.</p>
        </article>
        <article class="item">
            <h2><a href="http://timwendelboe.no/">Tim Wendelboe</a></h2>
            <p>Tim Wendelboe is The King of Coffee and has a legendary shop on Grünerløkka where you can get some amazing coffee. It is a micro roastery and espresso bar which is rated as one of the best in the world. Definitely worth a visit, but please don't ask for an espresso in a paper cup.<br>
                <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Tim+Wendelboe,+Gr%C3%BCners+gate,+Oslo,+Norge&aq=0&oq=tim+wendelboe&sll=37.0625,-95.677068&sspn=39.184175,78.925781&vpsrc=0&ie=UTF8&hq=Tim+Wendelboe,+Gr%C3%BCners+gate,&hnear=Oslo,+Norway&ll=59.924528,10.755615&spn=0.024259,0.077076&t=m&z=14&iwloc=A&cid=3391370463995849095">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.javaoslo.no/">Java Espressobar</a></h2>
            <p>Despite it being named after a dying programming language, this is one of the best places to get coffee in Oslo. Located in beautiful St.Hanshaugen and right next to the <a href="http://www.yelp.com/biz/pascal-oslo-6">Pascal bakery</a> a trip to Java is time well spent.<br>
                From the conference venue you can just walk up the lovely (but a bit steep) <a href="http://no.wikipedia.org/wiki/Telthusbakken_(Oslo)">Telthus bakken</a> and you'll be in St. Hanshaugen.<br>
                <a href="http://www.yelp.com/biz/java-espressobar-og-kaffeforretning-oslo">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.vulkan-oslo.no/default.aspx?menu=89&id=374">Solberg & Hansen - Mathallen</a></h2>
            <p>Some of the most amazing coffee in the world is served right on the premises of the conference. Solberg Hansen provide many of the great coffee spots in Oslo with high quality coffee. Just pop by Mathallen and you'll find the place.</p>
        </article>
        <article class="item">
            <h2>Stockfleths</h2>
            <p>Stockfleths is a legendary brand synonymous with high quality coffee. They've got a few shops all over Oslo who all provide excellent coffee. The Web Rebels usually does their morning planning at either their <a href="https://www.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=103078545339054642723.000447165583b21de55cd">Tinghuset</a> or <a href="http://maps.google.com/maps?hl=en&bav=on.2,or.r_cp.r_qf.&bvm=bv.43287494,d.bGE&biw=1235&bih=864&um=1&ie=UTF-8&q=stockfleths+grensen&fb=1&hq=stockfleths+grensen&cid=0,0,6678250983037653381&sa=X&ei=2ptAUbLQH-iM4gSLuIHIBw&ved=0CJYBEPwSMAA">Grensen shops</a>.</p>
        </article>

        <h2 id="Grog" class="ratherloud-heading survivalcat">Grog</h2>
        <p>Brewing beer seems to have become one of the most popular past times for programmers these days. Oslo has finally caught up to this trend and there has been an explosion in places serving up a great selection of beers.
        There are even some micro brewery pubs who serve a combination of their own and imports. We've hand picked some of the places we go for when it comes to having good beer.</p>
        <div class="separator"></div>
        <article class="item">
            <h2><a href="http://schouskjelleren.no/?lang=en">Schouskjelleren Microbrewery</a></h2>
            <p>Right at the very start of Grünerløkka is the famous Schouskjelleren. It was founded back in 1800 as the brewery of Oslo's famous Frydenlund brewery. After it was discontinued the place has become the second microbrewery pub in Oslo. It has an atmosphere resembling German and the Czech beer halls with its vaulted brick ceiling, massive fireplace at the end of the hall and its rustic wooden furniture.
            <br><a href="https://untappd.com/brewery/2062">See if someone you know has already been there</a>
            </p>
        </article>
        <article class="item">
            <h2><a href="https://www.facebook.com/pages/Crow-Bar/480223892028632">Crow Bar</a></h2>
            <p>One of the newest and trendies brewpubs in town. With a great selection bottled and on tap. Located on your way down to the city center from Grünerløkka.<br>
            <a href="http://www.yelp.com/biz/crowbar-og-bryggeri-oslo">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://amundsenbryggeri.no/">Amundsen</a></h2>
            <p>One of the city's widest selections of beers is to be found at Amundsen. This is a bar with it's own micro brewery right there in the bar. Regardless of your taste in beers, you'll be satisfied with what you get here.</p>
        </article>

        <h2 id="Nightlife" class="ratherloud-heading survivalcat">Nightlife</h2>
        <p>Going out in Oslo can be expensive and the prices might knock you off your feet. However once you get over the shock there are some cool places were you can hang out and have a great time! These aren't your average disco / trance-party hangouts, but they're some of the places we enjoy.</p>
        <div class="separator"></div>
        <article class="item">
            <h2><a href="http://www.tiltoslo.no/">Tilt</a></h2>
            <p>Tilt is one action packed little place located right next to legendary <a href="http://www.rockefeller.no/">Rockefeller Music Hall</a>. They've got shuffleboard, arcades and pinball to keep you entertained through the night. In addition to a decent selection of fluids to keep you going.
                <br><a href="http://www.yelp.com/biz/tilt-oslo">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="https://www.facebook.com/pages/Bar-Boca/284273994971781?rf=155475754503779">Bar Boca</a></h2>
            <p>If cocktails is your thing, then you should make a stop at the famous tiki bar over at Günerløkka. You'll get amazing cocktails in a chill atmosphere of this tiki inspired bar.
                <br><a href="https://plus.google.com/102753470761695096817/about?hl=en">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.parkteatret.no/">Parkteateret</a></h2>
            <p>Parkteatret Scene is an old cinema from 1907 now functioning mainly as a concert venue with a capacity of 500. Their main focus is pop/rock, but the venue is also great for indie, bluegrass, country, rockabilly, jazz and blues. There is often either a concert or disco for children on Sundays. Apart from concerts, theres often documentary films or other kinds of movie nights on Wednesdays, often with debates or discussions on the topics raised. It is also a great place to just hang out and have something to drink.<br>
                <a href="https://plus.google.com/111196340555251862088/about?hl=en">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.lufthavna.no/">Lufthavna / Cafe Mir</a></h2>
            <p>This non-profit consists of galleries, cafe and studios for local artists located in Grünerløkka. <a href="http://www.lufthavna.no/cafe-mir">Cafe Mir</a> has regular events with concerts and DJ sessions happening all week. If you want to see what's happening in the underground scene of the arts this is a good starting place. It is also a nice place to just hang out. <br><a href="http://www.lufthavna.no/havna/kontakt">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.internasjonalen.no/">Internasjonalen</a></h2>
            <p>Right in the heart of socialist Norway in <a href="http://en.wikipedia.org/wiki/Youngstorget">Youngstorget</a> there is a very trendy place, Internasjonalen, which serves up a nice selection of beers and drinks. They regularly have concerts and DJ sessions happening on the second floor. It makes for a nice stop when heading into the city center from Grünerløkka.<br>
                <a href="https://plus.google.com/107598792431312063309/about?hl=en">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.cafemono.no/">Cafe Mono</a></h2>
            <p>The beating pulse of the rock and roll scene in Oslo can be found at Mono, right next to <a href="http://en.wikipedia.org/wiki/Youngstorget">Youngstorget</a>. They regularly put on concerts and it's a great place to catch some amazing bands. During the day time they also have an American style diner which servers up food which will help you recover from a night of rock and roll.<br>
                <a href="https://plus.google.com/118396515377039887427/about?hl=en">Directions</a></p>
        </article>


        <h2 id="Sights" class="ratherloud-heading survivalcat">Sights</h2>
        <div class="separator"></div>
        <article class="item">
            <h2><a href="http://www.munch.museum.no/Dokument/For-English-visitors">The Munch Museum</a></h2>
            <p>This year marks the 150 year anniversary for one of the worlds greatest painters, Edward Munch. The Munch Museum has the largest collection of his work in the world and it has gotten a touch up in relation to the anniversary.
                <br><a href="https://maps.google.com/maps?ie=UTF-8&daddr=T%C3%B8yengata+53,+0578+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.917050,10.775182&cid=0,0,7295538454545109531&hq=munch+museet&hnear=munch+museet">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.nhm.uio.no/english/">The Natural History Museum</a></h2>
            <p>It is the home of the world’s oldest complete primate skeleton <a href="http://www.nhm.uio.no/english/visiting/geological-museum/ida/">Ida</a>, makes for a excellent lazy Sunday experience. With it's <a href="http://www.nhm.uio.no/english/visiting/botanical-garden/">Botanical garden</a>, <a href="http://www.nhm.uio.no/english/visiting/zoological-museum/">Zoological</a> and <a href="http://www.nhm.uio.no/english/visiting/geological-museum/">Geological</a> you are certain to have an educational time. The museum is located in lovely Tøyen and it is close to the Munch Museum and the Tøyen park.<br><a href="http://www.nhm.uio.no/english/visiting/map/">Directions</a>
                </p>
        </article>
        <article class="item">
            <h2><a href="http://www.operaen.no/en/">Oslo Opera House</a></h2>
            <p>The Norwegian Opera house is located on the old stomping grounds of Norwegians going on the ferry to Denmark in order to get shit faced drunk. These days the permises hosts one of Oslo's few architectural masterpieces. You can stroll on it's marbled roof and get a great look at the city.<br>
                <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kirsten+Flagstads+Plass+1,+0150+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.907593,10.752595&cid=0,0,2069025550397265425&hq=opera+house&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo,+Norway">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="">Frogner Park</a></h2>
            <p>The Frogner Park (Norwegian: Frognerparken) is a public park located in the borough of Frogner. The Frogner Park contains, in its present center, the world famous Vigeland Sculpture Arrangement designed by Gustav Vigeland. Frogner Park consists of various bridges, fountains and a well known picnic area, popular in the summer for games and relaxation. It also contains both Frognerbadet and Frogner Stadium. The park is the largest park in the city and covers 45 hectares.<br>It's a great place to just hang out and check out some crazy sculptures and enjoy the sights.
                <br><a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kirkeveien/Middelthuns+gate,+0268+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.924910,10.707039&cid=0,0,953405644286555817&hq=frogner+parken">Directions</a></p>
        </article>

        <h2 id="Adventure" class="ratherloud-heading survivalcat">Adventure</h2>
        <div class="separator"></div>
        <article class="item">
            <h2><a href="http://www.hoppihavet.no/">Hopp i havet</a></h2>
            <p>If you've brought the kids along for the conference you might let them check out the local activity center Hopp i Havet (which roughly translates to Jump in the sea). It is a huge building with long slides, trampolines, climbing towers and all kinds of obstacles. It's got loads of fun things all in an atmosphere of being at the bottom of the sea.<br>
            <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Hopp+i+Havet+AS,+Sandakerveien+24C,+0473+Oslo,+Norway/@59.9288301,10.7390494,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x46416e6b51a91e4f:0x53599b8174d32bdd!2m2!1d10.75942!2d59.935001!3e2">Directions</a>
            </p>
        </article>
        <article class="item">
            <h2><a href="http://www.kolsaas.no/vulkan/">Vulkan Klatresenter (Vulkan Climbing Center)</a></h2>
            <p>If you're up for a little bouldering or indoor rock climbing after a long day of sitting and being indoors, we've got just the thing for you! Right outside the conference venue there is a Vulkan Klatresenter (Vulkan Climbing Center). It's got three different walls and has routes for the novice and the master. Climbing rocks, go for it!<br>
            <a href="http://www.visitoslo.com/en/activities-and-attractions/boroughs/grunerlokka/activities/?TLp=182446&Vulkan-Climbing-Centre=">English review</a>
            </p>
        </article>
        <article class="item">
            <h2>Walk up Telthusbakken to St.Hanshaugen</h2>
            <p>Across the street from the venue is one of the original parts of old Oslo with it's characteristic small wooden houses. The road up from the venue up to <a href="http://en.wikipedia.org/wiki/St._Hanshaugen">St.Hanshaugen district</a> is know as Telthusbakken. Taking the walk will be good exercise (it's mostly uphill), but you will arrive at St.Hanshaugen which has some nice places to visit. Such as the amazing <a href="http://www.javaoslo.no/">Java Espressobar</a> and <a href="https://www.google.no/maps/preview?gl=no&hq=pascal+st.hanshaugen&daddr=Ullev%C3%A5lsveien+47,+0171+Oslo&panel=1&f=d&fb=1&geocode=0,59.924588,10.739613&cid=7835890498649319933">Pascal</a> which has some of the most amazing cakes in all of Oslo.<br>
            <a href="https://www.google.com/maps/dir/Scandic+Hotel+Vulkan,+Maridalsveien+13,+0175+Oslo,+Norway/Java+espressobar+%26+Kaffeforretning+AS,+Ullev%C3%A5lsveien+47,+0171+Oslo,+Norway/@59.9231852,10.7368329,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46416e659eb51631:0xeb8101e0f8933365!2m2!1d10.751265!2d59.922398!1m5!1m1!1s0x46416e7a0b554cbd:0x23741f8ec84021df!2m2!1d10.73961!2d59.924591!3e2">Directions</a>
            </p>
        </article>
        <h2 id="Shops" class="ratherloud-heading survivalcat">Shops</h2>
        <div class="separator"></div>
        <article class="item">
            <h2><a href="http://www.tronsmo.no/">Tronsmo</a></h2>
            <p>A true gem is this independent bookstore located in Tullinløkka right next to the National Gallery. They have an amazing collection of books in multiple languages. From beat poetry to philosophy. From books about street art to books about politics. In the basement you'll find a wide range of comics in different genres. This is the only bookstore you need to visit while staying here.<br>
                <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kristian+Augusts+gate+19,+0164+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.917005,10.736858&cid=0,0,9339884691026726436&hq=tronsmo">Directions</a></p>
        </article>
        <article class="item">
            <h2><a href="http://www.bigdipper.no/">Big Dipper Records</a></h2>
            <p>Vinyl addicts will get their fix in this records store which only caters vinyl. You can look trough countless rows of new releases and old gems. It's nicely place on the way from the venue to down town Oslo.<br>
            <a href="https://plus.google.com/106847798312361144473/about?hl=en">Directions</a> </p>
        </article>
        <article class="item">
            <h2><a href="">Outland</a></h2>
            <p>In case you need to embrace your inner comic-geek you might want to checkout out this gem which is one the best shops when it comes to comics and related merchandise.<br>
            <a href="http://maps.google.com/maps?es_sm=91&bav=on.2,or.r_cp.r_qf.&bvm=bv.65788261,d.cWc,pv.xjs.s.en_US.Nq3OT-kliIg.O&biw=1173&bih=582&um=1&ie=UTF-8&q=outland+oslo&fb=1&gl=us&hq=outland&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo,+Norway&sa=X&ei=cFNmU7TtAsPLsAS51YII&ved=0CJ0BEMgT">Directions</a>
            </p>
        </article>

        <div class="separator"></div>
        <h4 class="ratherloud-heading">Something missing? You think your favorite place should be here?</h4>
        <p>Send a <a href="https://github.com/webrebels/web-rebels-2014/pulls">pull request</a> or <a href="https://github.com/webrebels/web-rebels-2014/issues?labels=website&state=open">submit an issue</a> and we might add it!</p>
        <p>This is just a list of places we put together and none of the places are associated with Web Rebels or get paid to be listed.</p>

    </div>
</div>

    <% include includes/footer.ejs %>
</body>
</html>
