<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>


<div class="l-content">
    <div class="l-content-inner">
        <h1 class="ratherloud-heading">Oslo surival guide for Web Rebels!</h1>
        <p>Coming to a city for the first time you might not know where to go and what to see. We've put together this short list of things and places we appreciate in our beloved city. If you're planning on staying for an extra few days they're well worth a visit.</p>
        <p>Most of the places are located close to the conference venue and hotel in the borough of Grünerløkka.</p>

        <p>
            <a href="#Grub">Grub</a> |
            <a href="#Coffee">Coffee</a> |
            <a href="#Grog">Grog</a> |
            <a href="#Nightlife">Nightlife</a> |
            <a href="#Sights">Sights</a> |
            <a href="#Adventure">Adventure</a> |
            <a href="#Shops">Shops</a>
        </p>


        <h2 id="Grub" class="ratherloud-heading">Grub</h2>
        <article>
            <img class="rebel-img" src="http://www.nighthawkdiner.com/gfx/nitehawk.png" width="140" height="140">
            <h2><a href="http://www.nighthawkdiner.com/">Nighthawk Diner</a></h2>
            <p>If you feel hung over and still have some money left, this is the place to go to. About as close you can come to an authentic American diner in Oslo. Amazing food, shakes and pancakes.<br>
            <a href="http://maps.google.no/maps?sugexp=chrome,mod%3D17&um=1&hl=en&ie=UTF-8&cid=0,0,15924518314833332275&fb=1&hq=night+hawk+diner&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo&gl=no&daddr=Seilduksgata+15,+0553+Oslo&geocode=0,59.925493,10.758753&sa=X&ei=dOaaT4bjBMbNtAbX1ZyUDg&ved=0CBMQngIwAA">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" height="140" width="140" alt="" src="http://static.vg.no/mat-og-drikke/restaurantguiden/bilder/778.jpg">
            <h2><a href="http://www.dognvillburger.no/">Døgnvill Burger</a></h2>
            <p>Located right next to the conference venue this is a great place for grabbing a real burger. It is one of the top three burger joints in the city. The variaty when it comes to burgers is outstanding and they have really good selection of shakes to go with it if that is your poison. It was indeed the venue of the pre-conference dinner for the speakers last year, so you might run into some rebel-celebrities too..</p>
        </article>
        <article>
            <img class="rebel-img" src="http://s3-media1.ak.yelpcdn.com/bphoto/Gq2fcerjIP2gq0O13vXr7g/ms.jpg" width="140">
            <h2><a href="http://www.nam-fah.com/">Nam Fah</a></h2>
            <p>Just up the street from the venue towards Grünerløkka you find one of the best places for Thai food in Norway. They only do take away and you can expect queues of locals all craving thai food. All at a reasonable price. Grab some food and just head out to one of the parks near by and you'll be in for a treat.<br>
            <a href="http://www.yelp.com/biz/nam-fah-oslo">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" height="140" width="140" alt="" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQi0ki4owV9Sh4NNxSLFsvyUbcLolxUaZ7iTL2-HSQe1oNkwIzZkTjaLw">
            <h2><a href="http://www.villaparadiso.no/">Villa Paradiso</a></h2>
            <p>If you're into italian-style pizza this is the place to go to. They serve the best pizza in town at a decent price.<br>
            <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Olaf+Ryes+plass+8,+0552+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.923489,10.757549&cid=0,0,14757481769256393510&hq=Pizza+Paradiso&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo,+Norway">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" height="140" width="140" alt="" src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/161956_171199846244007_7890598_n.jpg">
            <h2><a href="https://www.facebook.com/pages/Illegal-Burger/171199846244007?v=wall">Illegal Burger</a></h2>
            <p>One of our favorite burger joints with excellent food at a very decent price. This is fast food at it's best, you'll be 
                in and out in ten minutes.<br>
            <a href="http://maps.google.no/maps/place?sugexp=chrome,mod%3D1&um=1&ie=UTF-8&q=illegal+burger&fb=1&gl=no&hq=illegal+burger&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo&cid=18012886209070138292">Directions</a>.</p>
        </article>
        <article>
            <img class="rebel-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7M4e1Ms6ILs_fGewFuOEvXX5q5nle8UaisIW5FEP4IZTqKl9k" width="140" height="140">
            <h2><a href="http://www.mathallenoslo.no/">Mathallen</a></h2>
            <p>Mathallen is right on the premises of the conference provides you with a lot of amazing food from Norway. The prices are also very Norwegian, so if you're on a tight budget you might want to go elsewhere.</p>
        </article>

        <h2 id="Coffee" class="ratherloud-heading">Coffee</h2>
        <p>One of the things Oslo has become famous for in the last couple of years is it's amazing coffee scene with world class baristas serving up briliant coffees who won't find at your local Strabucks. 
        We have listed som of our favorites, enjoy!</p>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8esXTTCBtWVECPmmml0EiqX7X5E_7V7zh2gAeYvH3fMyRuz0e">
            <h2><a href="http://timwendelboe.no/">Tim Wendelboe</a></h2>
            <p>Tim Wendelboe is The King of Coffe and has a legendary shop on Grünerløkka where you can get some amazing coffee. It is a micro roastery & espresso bar which is rated as one of the best in the world. Definetly worth a visit, but please don't ask for an espresso in a paper cup.<br>
                <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Tim+Wendelboe,+Gr%C3%BCners+gate,+Oslo,+Norge&aq=0&oq=tim+wendelboe&sll=37.0625,-95.677068&sspn=39.184175,78.925781&vpsrc=0&ie=UTF8&hq=Tim+Wendelboe,+Gr%C3%BCners+gate,&hnear=Oslo,+Norway&ll=59.924528,10.755615&spn=0.024259,0.077076&t=m&z=14&iwloc=A&cid=3391370463995849095">Directions</a></p>
        </article>        
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQW6JZCYEoUtqsfeTW_eRBGyG79v8PV0UHKgCTcdnF2ZiFOUi13LUBdRg">
            <h2><a href="http://www.javaoslo.no/">Java Espressobar</a></h2>
            <p>Despite it being named after a dying programming language, this is one of the best places to get coffe in Oslo. Located in beautiful St.Hanshaugen and right next to the <a href="http://www.yelp.com/biz/pascal-oslo-6">Pascal bakery</a> a trip to Java is time well spent.<br>
                From the conference venu you can just walk up the lovely (but a bit steep) <a href="http://no.wikipedia.org/wiki/Telthusbakken_(Oslo)">Telthus bakken</a> and you'll be in St. Hanshaugen.<br>
                <a href="http://www.yelp.com/biz/java-espressobar-og-kaffeforretning-oslo">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="http://media-cdn.tripadvisor.com/media/photo-l/03/d0/49/6f/mathallen-oslo.jpg">
            <h2><a href="http://www.vulkan-oslo.no/default.aspx?menu=89&id=374">Solberg & Hansen - Mathallen</a></h2>
            <p>Some of the most amazing coffe in the world is served right on the premises of the conference. Solberg Hansen provide many of the great coffe spots in Oslo with high quality coffe. Just pop by Mathallen and you'll find the place.</p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRHJPEOQbpHhq1Z6xA3KErUvqMsFkOZ8KHDTqu9767S67WYF5uV8g">
            <h2>Stockfleths</h2>
            <p>Stockfleths is a legendary brand synonymous with high quality coffee. They've got a few shops all over Oslo who all provide excellent coffee. The Web Rebels usually does their morning planning at either their <a href="https://www.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=103078545339054642723.000447165583b21de55cd">Tinghuset</a> or <a href="http://maps.google.com/maps?hl=en&bav=on.2,or.r_cp.r_qf.&bvm=bv.43287494,d.bGE&biw=1235&bih=864&um=1&ie=UTF-8&q=stockfleths+grensen&fb=1&hq=stockfleths+grensen&cid=0,0,6678250983037653381&sa=X&ei=2ptAUbLQH-iM4gSLuIHIBw&ved=0CJYBEPwSMAA">Grensen shops</a>.</p>
        </article>

        <h2 id="Grog" class="ratherloud-heading">Grog</h2>
        <p>Brewing beer seems to have become one of the most popular past times for programmers these days. Oslo has finaly caught up to this trend and there has been an explosion in places serving up a great selection of beers.
        There are even some micro brewery pubs who serve a combination of their own and imports. We've hand picked some of the places we go for when it comes to having good beer.</p>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" src="http://schouskjelleren.no/wp-content/blogs.dir/10/files/home-slider/schouskjelleren-16.jpg" width="140">
            <h2><a href="http://schouskjelleren.no/?lang=en">Schouskjelleren Microbrewery</a></h2>
            <p>Right at the very start of Grünerløkka is the famous Schouskjelleren. It was founded back in 1800 as the brewery of Oslo's famous Frydenlund brewery. After it was discontunied the place has become the second microbrewery pub in Oslo. It has an atmosphere resembling German and the Czech beer halls with its vaulted brick ceiling, massive fireplace at the end of the hall and its rustic wooden furnitur. 
            <br><a href="https://untappd.com/brewery/2062">See if someone you know has already been there</a>
            </p>
        </article>
        <article>
            <img class="rebel-img" height="140" width="140" alt="" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQT7YDUmap3DXSFabTUDM9y4T2h0M5mAyz3j0Sm3g7WtKFPeyNaId1K9w">
            <h2><a href="https://www.facebook.com/pages/Crow-Bar/480223892028632">Crow Bar</a></h2>
            <p>One of the newest and trendies brewpubs in town. With a great selection bottled and on tap. Located on your way down to the city center from Grünerløkka.<br>
            <a href="http://www.yelp.com/biz/crowbar-og-bryggeri-oslo">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR0vbk_Pd548UTWRz-P01RdR1_RO1sMzgN4xul6rExFWnU4YcikHXOKKQ">
            <h2><a href="http://amundsenbryggeri.no/">Amundsen</a></h2>
            <p>One of the city's widest selection of beers is to be found at Amundsen. This is a bar with it's own micro brewery right there in the bar. Regardless of your taste in beers, you'll be satisfied with what you get here.</p>
        </article>
        
        <h2 id="Nightlife" class="ratherloud-heading">Nightlife</h2>
        <p>Going out in Oslo can be expensive and the prices might knock you off your feet. However once you get over the shock there are some cool places were you can hang out and have a great time! These aren't your average disco / trance-party hangouts, but they're some of the places we enjoy.</p>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSa5V5NqVu4xILIv48bAB9CK90oqORfeY-H60xwZGlLAkgUuOT7_w">
            <h2><a href="http://www.tiltoslo.no/">Tilt</a></h2>
            <p>Tilt is one action packed little place located right next to legendary <a href="http://www.rockefeller.no/">Rockefeller Music Hall</a>. They've got shuffleboard, arcades and pinball to keep you entertained through the night. In addition to a decent selection of fluids to keep you going.
                <br><a href="http://www.yelp.com/biz/tilt-oslo">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTNH_XzVUdUvIPizX_6rCossP-Y8ZbfAKRPb6Cj8CybJR624Flx">
            <h2><a href="https://www.facebook.com/pages/Bar-Boca/284273994971781?rf=155475754503779">Bar Boca</a></h2>
            <p>If cocktails is your thing, then you should make a stop at the famous tiki bar over at Günerløkka. You'll get amazing cocktails in a chill atmosphere of this tiki inspired bar.
                <br><a href="https://plus.google.com/102753470761695096817/about?hl=en">Directions/<a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTySG1-3XhImk9U_JRr8y-YaOeuLcpB1EhbIyoEiPcKXMIevQ6KkQMJWrc">
            <h2><a href="http://www.parkteatret.no/">Parkteateret</a></h2>
            <p>Parkteatret Scene is an old cinema from 1907 now functioning mainly as a concert venue with a capacity of 500. Their main focus is pop/rock, but the venue is also great for indie, bluegrass, country, rockabilly, jazz and blues. There is often either a concert or disco for children on Sundays. Apart from concerts, theres often documentary films or other kinds of movie nights on Wednesdays, often with debates or discussions on the topics raised. It is also a great place to just hang out and have something to drink.<br>
                <a href="https://plus.google.com/111196340555251862088/about?hl=en">Directions</a></p>
        </article>        
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQpS_pvuHSjx4Wjk7Iv4QQt3pGmL38nAr9hGaIwi3eYwgZ9nG-U">
            <h2><a href="http://www.lufthavna.no/">Lufthavna / Cafe Mir</a></h2>
            <p>This non-profit consists of galleries, cafe and studios for local artists located in Grünerløkka. <a href="http://www.lufthavna.no/cafe-mir">Cafe Mir</a> has regular events with concerts and DJ sessions happening all week. If you want to see what's happening in the underground scene of the arts this is a good starting place. It is also a nice place to just hang out. <br><a href="http://www.lufthavna.no/havna/kontakt">Directions</a></p>
        </article>      
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSv2ta2S58drYqWufDnXasyPupdRL4rHKMKtEZsCByqyiVyrbhC">
            <h2><a href="http://www.internasjonalen.no/">Internasjonalen</a></h2>
            <p>Right in the heart of socialist Norway in <a href="http://en.wikipedia.org/wiki/Youngstorget">Youngstorget</a> there is a very trendy place, Internasjonalen, which serves up a nice selection of beers and drinks. They regularly have concerts and DJ sessions happening on the second floor. It makes for a nice stop when heading into the city center from Grünerløkka.<br>
                <a href="https://plus.google.com/107598792431312063309/about?hl=en">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSkAyiIK5aH7LTYTKVPsM1_Udj_osBheoIKCWo_ToWNBOSezhPwWw">
            <h2><a href="http://www.cafemono.no/">Cafe Mono</a></h2>
            <p>The beating pulse of the rock'n roll scene in Oslo can be found at Mono, right next to <a href="http://en.wikipedia.org/wiki/Youngstorget">Youngstorget</a>. They regularly put on concerts and it's a great place to catch some amazing bands. During the day time they also have an American style diner which servers up food which will help you recover from a night of rock'n roll.<br>
                <a href="https://plus.google.com/118396515377039887427/about?hl=en">Directions</a></p>
        </article>


        <h2 id="Sights" class="ratherloud-heading">Sights</h2>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQhtY12-tVI8CM7ALqktAl400l5RJ6hoIpsKNd29MUC98nwN8Su">
            <h2><a href="http://www.munch.museum.no/Dokument/For-English-visitors">The Munch Museum</a></h2>
            <p>This year marks the 150 year anniversary for one of the worlds greatest painters, Edward Munch. The Munch Museum has the largest collection of his work in the world and it has gotten a touch up in relation to the anniversary. 
                <br><a href="https://maps.google.com/maps?ie=UTF-8&daddr=T%C3%B8yengata+53,+0578+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.917050,10.775182&cid=0,0,7295538454545109531&hq=munch+museet&hnear=munch+museet">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ-DU-tkrT36Tl0IVDFKAEiH4xXYisYCsHIm1ue8RU6B8f5ZsmA_8_Ppg">
            <h2><a href="http://www.nhm.uio.no/english/">The Natural History Museum</a></h2>
            <p>It is the home of the world’s oldest complete primate skeleton <a href="http://www.nhm.uio.no/english/visiting/geological-museum/ida/">Ida</a>, makes for a excellent lazy Sunday experience. With it's <a href="http://www.nhm.uio.no/english/visiting/botanical-garden/">Botanical garden</a>, <a href="http://www.nhm.uio.no/english/visiting/zoological-museum/">Zoological</a> and <a href="http://www.nhm.uio.no/english/visiting/geological-museum/">Geological</a> you are certain to have an educational time. The museum is located in lovely Tøyen and it is close to the Munch Museum and the Tøyen park.<br><a href="http://www.nhm.uio.no/english/visiting/map/">Directions</a>
                </p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="http://t1.gstatic.com/images?q=tbn:ANd9GcQBy-urxmDclKz4bwwCjH8tvVnnomyt5L2zeuo2I_52bpB6APl8LA">
            <h2><a href="http://www.operaen.no/en/">Oslo Opera House</a></h2>
            <p>The Norwegian Opera house is located on the old stomping grounds of Norwegians going on the ferry to Denmark in order to get shit faced drunk. These days the permises hosts one of Oslo's few architectural masterpieces. You can stroll on it's marbled roof and get a great look at the city.<br>
                <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kirsten+Flagstads+Plass+1,+0150+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.907593,10.752595&cid=0,0,2069025550397265425&hq=opera+house&hnear=0x46416e61f267f039:0x7e92605fd3231e9a,Oslo,+Norway">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQXQ9Eww7QEERIt-kOhxvPTq3ZRBZzBsxMzlgFqGHW1wjFkf3sMVQ">
            <h2><a href="">Frogner Park</a></h2>
            <p>The Frogner Park (Norwegian: Frognerparken) is a public park located in the borough of Frogner. The Frogner Park contains, in its present centre, the world famous Vigeland Sculpture Arrangement designed by Gustav Vigeland. Frogner Park consists of various bridges, fountains and a well known picnic area, popular in the summer for games and relaxation. It also contains both Frognerbadet and Frogner Stadium. The park is the largest park in the city and covers 45 hectares.<br>It's a great place to just hang out and check out some crazy sculptures and enjoy the sights.
                <br><a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kirkeveien/Middelthuns+gate,+0268+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.924910,10.707039&cid=0,0,953405644286555817&hq=frogner+parken">Directions</a></p>
        </article>

        <h2 id="Adventure" class="ratherloud-heading">Adventure</h2>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" src="http://www.hoppihavet.no/images/large/60545.jpg">
            <h2><a href="http://www.hoppihavet.no/">Hopp i havet</a></h2>
            <p>If you've brought the kids along for the conference you might let them check out the local activity center Hopp i Havet (which roughly translates to Jump in the sea). It is a huge building with long slides, trampolines, climbing towers and all kinds of obcstacles. It's got loads of fun things all in an atmosphere of being at the bottom of the sea. 
        </article>
        <article>
            <img class="rebel-img" src="https://lh4.googleusercontent.com/4mNMV-5m8QvEeSTxHwNjjGfN0ItYiWFANz-xMS_u6g=w292-h195-p-no">
            <h2><a href="http://www.kolsaas.no/vulkan/">Vulkan Klatresenter (Vulkan Climbing Center)</a></h2>
            <p>If you're up for a little bouldring or indoor rock climbing after a long day of sitting and being indorrs, we've got just the thing for you! Right outside the conference venue there is a Vulkan Klatresenter (Vulkan Climbing Center). It's got three different walls and has routes for the novice and the master. Climbing rocks, go for it!<br>
            <a href="http://www.visitoslo.com/en/activities-and-attractions/boroughs/grunerlokka/activities/?TLp=182446&Vulkan-Climbing-Centre=">English review</a>
            </p>
        </article>
        <article>
            <p>Accross the street from the venue is one of the original parts of old Oslo with it's characteristic small wooden houses. 
            <h2>Walk up Telthusbakken to St.Hanshaugen</h2>
            The road up from the venue up to <a href="http://en.wikipedia.org/wiki/St._Hanshaugen">St.Hanshaugen district</a> is know as Telthusbakken. Taking the walk will be good exercise (it's mostly uphill), but you will arrive at St.Hanshaugen which 
            has some nice places to visit. Such as the amazing <a href="http://www.javaoslo.no/">Java Espressobar</a> and <a href="https://www.google.no/maps/preview?gl=no&hq=pascal+st.hanshaugen&daddr=Ullev%C3%A5lsveien+47,+0171+Oslo&panel=1&f=d&fb=1&geocode=0,59.924588,10.739613&cid=7835890498649319933">Pascal</a> which has some of the most amazing cakes in all of Oslo.
        </article>
        <h2 id="Shops" class="ratherloud-heading">Shops</h2>
        <div class="separator"></div>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Sew6JMfv333ySCXVC5ESEP8bSQvIKouw6Q1qcdgt7Tl0GsQO3Q">
            <h2><a href="http://www.tronsmo.no/">Tronsmo</a></h2>
            <p>A true gem is this independent bookstore located in Tullinløkka right next to the National Gallery. They have an amazing collection of books in multiple languages. From beat poetry to philosophy. From books about street art to books about politics. In the basement you'll find a wide range of comics in different genres. This is the only bookstore you need to visit while staying here.<br>
                <a href="https://maps.google.com/maps?ie=UTF-8&daddr=Kristian+Augusts+gate+19,+0164+Oslo,+Norway&panel=1&f=d&fb=1&dirflg=d&geocode=0,59.917005,10.736858&cid=0,0,9339884691026726436&hq=tronsmo">Directions</a></p>
        </article>
        <article>
            <img class="rebel-img" width="140" height="140" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcShtfqf3ViByF5PxQCcdFTK4W-qeI3VlzUFfkWqNaLPuTYkoXcauQ">
            <h2><a href="http://www.bigdipper.no/">Big Dipper Records</a></h2>
            <p>Vinly addicts will get their fix in this records store which only caters vinyl. You can look trough countless rows of new releases and old gems. It's nicely place on the way from the venue to down town Oslo.<br>
            <a href="https://plus.google.com/106847798312361144473/about?hl=en">Directions</a> </p>
        </article>


        <div class="separator"></div>
        <p>Feel that some place is missing? <a href="https://github.com/webrebels/web-rebels-2013/blob/master/views/oslo.ejs">Submit a pull request on GitHub</a> and we might add it!</p>
        <p>This is just a list of places we put together and none of the places are associated with the Web Rebels or get paid to listed.</p>

    </div>
</div>

    <% include includes/footer.ejs %>
</body>
</html>
