<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="We are non-profit, community driven conference held in Oslo, Norway.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
    <div class="l-content-inner">
        <h1 class="ratherloud-heading">Our policies</h1>
        <article>
            <h2>Organisation and organisers</h2>
            <p>Web Rebels are <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered as a non-profit organization</a> and is organized by unpaid volunteers.</p>
            <p>Organizers shall fazilitate and help both speakers and attendees so they will have the best conference experience possible.</p>
        </article>
        <article>
            <h2>Sponsors</h2>
            <p>Our <a href="./sponsoroptions/">sponsorship options</a> states what each sponsoring package contains. Even though we work with sponsors on things outside of that standard packages, the following sponsor policy apply:</p>
            <ul>
                <li>We do not sell speaker slots</li>
                <li>We do not accept sales pitches masked as presentations</li>
                <li>We do not differentiate between speakers from partners and independent speakers</li>
            </ul>
        </article>
        <article>
            <h2>Speakers</h2>
            <p>For invited speakers we cover:</p>
            <ul>
                <li>All travel to and from the conference hotel / venue</li>
                <li>Stay at the conference hotel during the conference</li>
                <li>Admission to the conference and all conference related activities</li>
                <li>Speakers dinner and all meals during the conference</li>
                <li>All beverages on the pre conference party and conference party</li>
                <li>A public transport card giving full access to all public transport in Oslo</li>
            </ul>
            <p>Upon invitation to speak at Web Rebels, each speaker is informed about the above. Though, each speaker are also informed that if the speakers employee would consider covering, in full or partly, the speakers travel cost we are more than happy to work out a sponsorship deal and what is saved upon such a deal are put back into making the conference better.</p>
        </article>
        <article>
            <h2>General</h2>
            <p>Everyone taking part in the Web Rebels Conference must abide by the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.</p>
        </article>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>