<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>
    <div class="l-content">
        <div class="l-content-inner">

            <h1 class="ratherloud-heading">Roadbook</h1>
            <p>
                This is the speaker's roadbook. It contains all the important information you as a speaker might want to know before, during and after your stay at Web Rebels 2014. Please bookmark this page.
            </p>

            <div class="separator"></div>

            <a name="contact_information"></a>
            <h2>Contact information</h2>
            <p><a href="#trygve">Trygve Lie</a> is your speaker contact during the whole conference. If you have any questions or problems please talk to him. You can also contact any of the other organisers at any time during your stay.</p>

            <p>All organisers can be reached at <a href="mailto:kontor@webrebels.org">kontor@webrebels.org</a>.</p>

            <p>The Web Rebels organisers are:</p>
            <a name="espen"></a>
            <div class="organizer">
                <img src="/img/organisers/org_espen.jpg">
                <h3>Espen Dalløkken</h3>
                <p>Mobile: +47 41 52 88 62 - Mail: <a href="mailto:leftie.friele@gmail.com">leftie.friele@gmail.com</a> - Twitter: <a href="https://twitter.com/leftieFriele">@leftieFriele</a></p>
            </div>
            <a name="thomas"></a>
            <div class="organizer">
                <img src="/img/organisers/org_thomas.jpg">
                <h3>Thomas Kjeldahl Nilsson</h3>
                <p>Mobile: +47 XX XX XX XX - Mail: <a href="mailto:thomas@kjeldahlnilsson.net">thomas@kjeldahlnilsson.net</a> - Twitter: <a href="https://twitter.com/thomanil">@thomanil</a></p>
            </div>
            <a name="trygve"></a>
            <div class="organizer">
                <img src="/img/organisers/org_trygve.jpg">
                <h3>Trygve Lie</h3>
                <p>Mobile: +47 95 25 22 48 - Mail: <a href="mailto:post@trygve-lie.com">post@trygve-lie.com</a> - Twitter: <a href="https://twitter.com/trygve_lie">@trygve_lie</a></p>
            </div>
            <a name="bodil"></a>
            <div class="organizer">
                <img src="/img/organisers/org_bodil.jpg">
                <h3>Bodil Stokke</h3>
                <p>Mobile: +47 97 18 25 24 - Mail: <a href="mailto:bodil@bodil.tv">bodil@bodil.tv</a> - Twitter: <a href="https://twitter.com/bodil">@bodil</a></p>
            </div>


            <a name="travel_to_and_from_the_airport"></a>
            <h2>Travel to and from the airport</h2>
            <p>If you are flying into Oslo you will arrive at and depart from <a href="http://www.osl.no/en/osl">Oslo Airport Gardermoen</a> (OSL). Between the airport and Oslo Central Station (nicknamed Oslo S) there is a high speed airport shuttle, named Flytoget, running every 10 minute. The travel time is ~20 minutes. Departures can be <a href="http://www.flytoget.no/eng/">checked here</a>.</p>

            <p>If you did not receive airport shuttle tickets before departure, please purchase one (ticket machines take credit cards) and give it to your speaker contact, <a href="#trygve">Trygve Lie</a>, at any time during the conference and we will refund it in cash and give you a ticket for the return.</p>

            <p>If your travel is delayed or if you have any problems during your travel, please let us know so we can assist you as good as possible.</p>


            <a name="the_conference_hotel"></a>
            <h2>The conference hotel</h2>
            <p>Your hotel is the <a href="http://www.scandichotels.com/Hotels/Countries/Norway/Oslo/Hotels/Vulkan/">Scandic Vulcan Hotel</a>.</p>
            <p>The address of the hotel is: Maridalsveien 13 A, 0175 Oslo and the phone number of the hotel is: +47 21 05 71 00.</p>
            <p>Your room is booked in your name.</p>


            <a name="getting_to_the_hotel"></a>
            <h2>Getting to the hotel</h2>
            <p>It is possible to walk to the hotel from Oslo Central Station. It is about a 20 minute walk. <a href="http://goo.gl/maps/KGEBq">This is the best and fastest walking route</a>.</p>

            <p>The best way to get to the hotel is by tram and then a small walk. From Oslo Central Station you can take tram 11, 12 and 13 eastbound to Schous Plass (four stops from Oslo Central Station). At Schous Plass you can walk <a href="http://goo.gl/maps/h78NN">this short route to the hotel</a>.</p>


            <a name="getting_around_in_oslo"></a>
            <h2>Getting around in Oslo</h2>
            <p>Most of you will receive a public transport pass before you depart for Oslo. If you have not received one before departure, you will receive one when you check into the hotel. If there is not one for you at the hotel, please contact <a href="#trygve">Trygve Lie</a> and he will give you one.</p>

            <p>The public transport pass is valid for 7 days from the day its first validated. It is valid for all public busses, trams, subways and boats to the islands in the Oslo fjord and some local trains. You should validate the card each thime you use the public transport system. One can validate the card on board busses, trams and boats. On subways and trains one need to validate the card before entering.</p>

            <p>Timetables, network maps and all other information you should need about public transport in Oslo can be found <a href="https://ruter.no/en/">here</a>.</p>
            

            <a name="speaker_dinner"></a>
            <h2>Speaker dinner</h2>
            <p>At 18:00 on the 21st of May there will be a speaker dinner. Location for the dinner is not yet set but will be published here.</p>

            <p>After the speaker dinner there will be an Open Mic night where attendees can get a small spot in the limelight at the <a href="http://vbarogbistro.no/">V Bar og Bistro</a>. This is a very informal evening with the main purpose of letting attendees try out speaking on stage and where speakers and attendees can break the ice before the conference kicks off. The V Bar og Bistro is the bar on the ground floor of the conference hotel.</p>

            <p>You are encouraged to jump the stage and improvise a ~10 minutes talk ;)</p>


            <a name="the_venue"></a>
            <h2>The venue</h2>
            <p>The venue is a concert venue named Fabrikken (Norwegian for Factory) and is just next door to the conference hotel. It will be possible to walk directly from the breakfast / lunch / dining area into the conference venue.</p>

            <p>The venue has a medium sized leveled stage and there will be a section of medium sized tables up front and chairs put out at random behind that. There is no dedicated speaker area at the venue. At the stage you will have a small round table in standing hight and access to fresh drinking water.</p>


            <a name="technical"></a>
            <h2>Technical</h2>
            <p>The projector is a full HD 1080P projector with a 1920x1080 resolution. On stage there will be HDMI and VGA cable to connect to the projector. If your laptop need a bridge to connect to HDMI or VGA, please bring one.</p>

            <p>There will be a sound engineer controlling all sound from the stage and you will be given a small wireless headset microphone so your hands are free. If your pressentation requires sound, please let us know before the conference starts so a cable to connect to the PA can be provided for you.</p>

            <p>On stage there is also a dedicated Internet connection which will not interfere with the connection used by the attendees. This connection can be used if you need a guaranteed connection to Internet.</p>

            <p>Norway use <a href="http://www.world-power-plug.com/power-plug/Norway">Type F</a> power outlets. If your laptop has another type, please bring a converter.</p>


            <a name="your_talk"></a>
            <h2>Your talk</h2>
            <p>Please make yourself familliar with the <a href="/schedule/">schedule</a> and the time for your talk. Please be by the stage about 15 minutes before it is your turn to enter the stage. There is a longer break after every second talk. Your speaker slot is 30 to 35 minutes.</p>

            <p><a href="https://twitter.com/janl">Jan Lehnardt</a> is our dedicated MC this year. This year we do encourage attendees to ask questions on Twitter during each talk. Based on these questions and Jan's super powers of knowledge, you and Jan will have a QA session about your talk. The QA session will be held in a seated area on stage and be between 5 and 10 minutes. Iow: there will not be any direct questions from the audience.</p>

            <p>We also engourage you to put your talk online after your talk.</p>

            <p>Please note that everyone taking part in the Web Rebels Conference must abide by the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.</p>


            <a name="filming_and_streaming"></a>
            <h2>Filming and streaming</h2>
            <p>Your talk will be professionally filmed and published on <a href="http://vimeo.com/webrebels">our video channel at Vimeo</a> as fast as possible after the conference. All videos published will be published under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0 licence</a>.</p>

            <p>We will also stream all talks live in full HD. Information about that the conference will be streamed will be published the day before the conference.</p>

            <p>If you do not want your talk to be filmed, published or streamed, please let us know up front.</p>


            <a name="official_hashtag"></a>
            <h2>Official hashtag</h2>
            <p>
                We feel deeply honored if you mention us in social media. If you do, our official hashtag is: <strong>#webrebels</strong>
            </p>

        </div>
    </div>
    <% include includes/footer.ejs %>
</body>
</html>