<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
   <h2 class="ratherloud-heading">Thursday 22 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <th>08:00</th>
           <td>
           <h3>Registration and breakfast</h3>
           <p>No need for that hotel breakfast! Join us for a Rebel breakfast instead.</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Amelia Earhart</h3>
           <p>I have a good feeling about this</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Jet Li</h3> 
           <p>Gone in 60 frames per second</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>10:30</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr> 	
         <tr class="schedule-talk">
           <th>11:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>David Bowie</h3>
           <p>Teaching browsers new tricks</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Frida Kahlo</h3> 	
           <p>What Every Painter Should Know About Self-Portraits</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>12:30</th>
           <td>
           <p>Lunch</p>
           </td>
         </tr> 	
         <tr class="schedule-talk">
           <th>13:30</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Marie Curie</h3> 	
           <p>Rethinking Physics: Polonium and Radium First</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>14:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Dave Grohl</h3> 	
           <p>Streams, Events, Data and Foo</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>15:00</th>
           <td>
           <p>Coffee/tea break</p> 
           </td>
         </tr>	
         <tr class="schedule-talk">
           <th>15:30</th>
           <td>
           <a href="#" class="schedule-link">
           <h3>Guy Fawkes</h3> 	
           <p>The State of Gunpowder Plot</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>16:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Angela Bassett</h3> 	
           <p>Strange Days in the Browser</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>17:00</th>
           <td>
           <h3>Conference dinner and party</h3>
           </td>
         </tr>
      </table>
   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>