<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
      <h2 class="ratherloud-heading">Wednesday 21 May</h2>
      <p>Pre-conference party with <a href="/openmic">Open Mic</a> sessions at the <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>. During this evening you can exchange your ticket into the conference pass, giving you more time to focus on breakfast than queuing for access on Thursday morning. Nice eh? And; don't forget to <a href="/openmic">submit your talk</a> for this evening!</p>
      <table class="schedule">
         <tr class="schedule-break">
           <th>19:00</th>
           <td>
           <h3>Bar opens</h3>
           <p>Come as you are, grab someting in the bar and make some new friends!</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>20:00</th>
           <td><h3>Talk I</h3></td>
         </tr>
         <tr class="schedule-talk">
           <th>20:15</th>
           <td><h3>Talk II</h3></td>
         </tr>
         <tr class="schedule-talk">
           <th>20:30</th>
           <td><h3>Talk III</h3></td>
         </tr>
         <tr class="schedule-break">
           <th>20:45</th>
           <td>
           <p>Break</p>
           </td>
         </tr>  
         <tr class="schedule-talk">
           <th>21:30</th>
           <td><h3>Talk IV</h3></td>
         </tr>
         <tr class="schedule-talk">
           <th>21:45</th>
           <td><h3>Talk V</h3></td>
         </tr>
         <tr class="schedule-talk">
           <th>22:00</th>
           <td><h3>Talk VI</h3></td>
         </tr>
      </table>

      <h2 class="ratherloud-heading">Thursday 22 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <th>08:00</th>
           <td>
           <h3>Registration and breakfast</h3>
           <p>As the tradition goes, no need for that hotel breakfast! Join us for a Rebel breakfast instead.</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk I</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk II</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>10:30</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr> 	
         <tr class="schedule-talk">
           <th>11:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk III</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk IV</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>12:30</th>
           <td>
           <p>Lunch</p>
           </td>
         </tr> 	
         <tr class="schedule-talk">
           <th>13:30</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk V</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>14:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk VI</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>15:00</th>
           <td>
           <p>Coffee/tea break</p> 
           </td>
         </tr>	
         <tr class="schedule-talk">
           <th>15:30</th>
           <td>
           <a href="#" class="schedule-link">
           <h3>Talk VII</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>16:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk VIII</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>17:00</th>
           <td>
           <h3>Conference dinner and party</h3>
           </td>
         </tr>
      </table>

      <h2 class="ratherloud-heading">Friday 23 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <th>08:00</th>
           <td>
           <h3>Breakfast</h3>
           <p>Full beakfast to help you get ready for an action packed day!</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk I</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk II</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>10:30</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr>  
         <tr class="schedule-talk">
           <th>11:00</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk III</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:45</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk IV</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>12:30</th>
           <td>
           <p>Lunch</p>
           </td>
         </tr>  
         <tr class="schedule-talk">
           <th>13:30</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk V</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>14:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk VI</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>15:00</th>
           <td>
           <p>Coffee/tea break</p> 
           </td>
         </tr>  
         <tr class="schedule-talk">
           <th>15:30</th>
           <td>
           <a href="#" class="schedule-link">
           <h3>Talk VII</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>16:15</th>
           <td>
           <a href="speakers" class="schedule-link">
           <h3>Talk VIII</h3> 
           <p>TBA</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>17:00</th>
           <td>
           <h3>Group photo</h3>
           </td>
         </tr>
      </table>
   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>