<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="Web Rebels span over two days with eight talks each day.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
      <h2 class="ratherloud-heading">Wednesday 21 May</h2>
      <p>Pre-conference party with <a href="/openmic">Open Mic</a> sessions at the <a href="http://vbarogbistro.no/">V Bar &amp; Restaurant</a>. During this evening you can exchange your ticket into the conference pass, giving you more time to focus on breakfast than queuing for access on Thursday morning. Nice eh? And; don't forget to <a href="/openmic">submit your talk</a> for this evening!</p>
      <table class="schedule">
         <tr class="schedule-break">
           <th>19:00</th>
           <td>
           <h3>Bar opens</h3>
           <p>Come as you are, grab someting in the bar and make some new friends!</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>20:00</th>
           <td>
             <h3>Anders Emil Salvesen</h3>
             <p>Make your hybrid app a Firefox App; it only takes one file!</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>20:15</th>
           <td>
             <h3>Sergey Belov</h3>
             <p>Functional layout testing with Gemini</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>20:30</th>
           <td>
             <h3>Aksel Gresvig</h3>
             <p>Choosing the right tools for the job &amp; avoiding the "hammer first" principle</p>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>20:45</th>
           <td>
           <p>Break</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>21:30</th>
           <td>
             <h3>Fergus McDowall</h3>
             <p>Forage.js: do search the nodey way</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>21:45</th>
           <td>
             <h3>Thomas Bruun</h3>
             <p>The current state of WebRTC. How it is to run a live WebRTC service today compared to a year ago, and what's in store in the near future</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>22:00</th>
           <td>
             <h3>Sebastian Steinmann</h3>
             <p>Why your designer wants transitions and animations</p>
           </td>
         </tr>
      </table>

      <h2 class="ratherloud-heading">Thursday 22 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <th>08:00</th>
           <td>
           <h3>Registration and breakfast</h3>
           <p>As the tradition goes, no need for that hotel breakfast! Join us for a Rebel breakfast instead.</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:00</th>
           <td>
           <a href="/speakers#jed" class="schedule-link">
           <h3>Jed Schmidt</h3>
           <p>No Man Is an APIsland</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:45</th>
           <td>
           <a href="/speakers#jessica" class="schedule-link">
           <h3>Jessica Lord</h3>
           <p>Git-it, Share it</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>10:30</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:00</th>
           <td>
           <a href="/speakers#anette" class="schedule-link">
           <h3>Anette Bergo</h3>
           <p>Rebel and Evolve: Moving beyond point-and-click</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:45</th>
           <td>
           <a href="/speakers#patrick" class="schedule-link">
           <h3>Patrick H. Lauke</h3>
           <p>Getting touchy - an introduction to touch and pointer events</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>12:30</th>
           <td>
           <p>Lunch</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>13:30</th>
           <td>
           <a href="/speakers#nuno" class="schedule-link">
           <h3>Nuno Job</h3>
           <p># process.env.NODE_ENV === 'PRODUCTION' for all your "webscale" apps!</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>14:15</th>
           <td>
           <a href="/speakers#arnout" class="schedule-link">
           <h3>Arnout Kazemier</h3>
           <p>Transforming WebSockets</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>15:00</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>15:30</th>
           <td>
           <a href="/speakers#mathias" class="schedule-link">
           <h3>Mathias Buus Madsen</h3>
           <p>Bittorrent, Streams and JavaScript</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>16:15</th>
           <td>
           <a href="/speakers#angus" class="schedule-link">
           <h3>Angus Croll</h3>
           <p>Stop being Perfect</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>17:00</th>
           <td>
           <h3>Conference dinner and party</h3>
           </td>
         </tr>
      </table>

      <h2 class="ratherloud-heading">Friday 23 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <th>08:00</th>
           <td>
           <h3>Breakfast</h3>
           <p>Full beakfast to help you get ready for an action packed day!</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:00</th>
           <td>
           <a href="/speakers#marijn" class="schedule-link">
           <h3>Marijn Haverbeke</h3>
           <p>Seeing Types in JavaScript</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>09:45</th>
           <td>
           <a href="/speakers#arne_martin" class="schedule-link">
           <h3>Arne Martin Aurlien</h3>
           <p>Not Mobile-Unfriendly UI Components With React</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>10:30</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:00</th>
           <td>
           <a href="/speakers#mikola" class="schedule-link">
           <h3>Mikola Lysenko</h3>
           <p>ndarray: Modular multidimensional arrays for JavaScript</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>11:45</th>
           <td>
           <a href="/speakers#vyacheslav" class="schedule-link">
           <h3>Vyacheslav “mraleph” Egorov</h3>
           <p>Crooked Mirrors of Performance</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>12:30</th>
           <td>
           <p>Lunch</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>13:30</th>
           <td>
           <a href="/speakers#camille" class="schedule-link">
           <h3>Camille Teicheira</h3>
           <p>Geography for Web Mapping: the Good, the Bad, and the Stuff You Can Forget</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>14:15</th>
           <td>
           <a href="/speakers#parisa" class="schedule-link">
           <h3>Parisa Tabriz</h3>
           <p>Got TLS? An overview of why you need it and how to do it right.</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>15:00</th>
           <td>
           <p>Coffee/tea break</p>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>15:30</th>
           <td>
           <a href="/speakers#substack" class="schedule-link">
           <h3>James “substack” Halliday</h3>
           <p>The ghost of javascript future</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-talk">
           <th>16:15</th>
           <td>
           <a href="/speakers#max" class="schedule-link">
           <h3>Max Ogden</h3>
           <p>The LEBRON Stack: It's a Slam Dunk</p>
           </a>
           </td>
         </tr>
         <tr class="schedule-break">
           <th>17:00</th>
           <td>
           <h3>Group photo</h3>
           </td>
         </tr>
      </table>
      <h2 class="ratherloud-heading">Saturday 24 May</h2>
      <table class="schedule">
         <tr class="schedule-break">
           <td><a href="/tour/">NodeSchool Norway Tour</a> with Max Ogden and Jessica Lord. Learn how to use node.js, npm and other related tools by writing code to solve realistic problems.</td>
         </tr>
       </table>
       <p>Add the schedule to your calendar by visiting <a href="http://lanyrd.com/2014/webrebels/">our lanyrd page</a>.</p>
   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>
