<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="One track, 16 national and international speakers.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
   <h2 class="ratherloud-heading">Meet our speakers</h2>
      <ul class="rebels">
         <li>
            <div class="rebel-bio">
            <a name="camille"></a>
            <img class="rebel-img" src="/img/speakers/camille.png" alt="Camille Teicheira">
            <h3 class="rebel-name ratherloud-rebel">Camille Teicheira</h3>
               <p>Camille Teicheira is a developer at Mapbox and an organizer of <a href="http://www.meetup.com/Maptime-SF/">Maptime SF</a>, a weekly meetup for collaborative learning, hacking maps, and cartographic possibility. Beyond maps, Camille likes making stuff into sensors.</p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Geography for Web Mapping: the Good, the Bad, and the Stuff You Can Forget</h3>
               <p>Good news, you no longer need a graduate degree in GIS and cartography to make maps. But is only very recently that maps have moved from hand drawn to digitized on the web. There are so many high quality open source tools for mapping and working with geographic data, which do you choose and how do they work?</p>
               <p>The history of cartography has left odd fingerprints all over the tools available for web mapping, and working with geodata can be challenging without an understanding of the implicit assumptions of mapping. </p>
               <p>What's the difference between GIS and web mapping? How do I convert my data into something useful? What’s web mercator? KML? GeoJSON? Tiles? Like for bathrooms? Lat, Lon or Lon, Lat?</p>
               <p>I'll offer insight into the common questions we encounter at Maptime SF, and some of the tools we teach including Leaflet.js, Mapbox.js, and Tilemill.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="arnout"></a>
            <img class="rebel-img" src="/img/speakers/arnout.png" alt="Arnout Kazemier">
            <h3 class="rebel-name ratherloud-rebel">Arnout Kazemier</h3>
               <p>Arnout is a real-time technology specialist and passionate software engineer from the Netherlands who loves working with high available & scalable systems. Calling  him an open source enthusiast would be putting it lightly: Arnout is the author of <a href="https://github.com/primus/primus">Primus</a> and <a href="https://github.com/3rd-Eden">dozens of other open source projects</a>.</p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Transforming WebSockets</h3>
               <p>The WebSocket draft got implemented by browsers in February 2010, that’s 4 years ago. It must surely be ready for production now, right?</p>
               <p>You implement it and spend the following months in pain: debugging dropped connections, full browser crashes, failed connections, rewriting your app to a framework only to figure out that it leaks memory and DDOSs your server so you can do a rewrite of your rewrite. But real-time doesn’t have to be this way. In this talk I will introduce the state of WebSockets and how you can use Primus fix this.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="mathias"></a>
            <img class="rebel-img" src="/img/speakers/mathias.png" alt="Mathias Buus Madsen">
            <h3 class="rebel-name ratherloud-rebel">Mathias Buus Madsen</h3>
               <p>
                  JavaScript hacker from Copenhagen. Node.js production user since the early 0.2 days. I like live coding and tend to write a lot of open source modules. Recently I've been pushing the boundaries of <a href="https://github.com/mafintosh/peerflix">streaming BitTorrent</a> in JavaScript!
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Bittorrent, Streams and JavaScript</h3>
               <p>A deep dive into the world of peer to peer. What if you could stream the contents of a torrent? What if these streams were real-time and data was fetched based on demand? What if you could play around with these streams in JavaScript? This talk will be about answering these questions - expect mad science.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="patrick"></a>
            <img class="rebel-img" src="/img/speakers/patrick.png" alt="Patrick H. Lauke">
            <h3 class="rebel-name ratherloud-rebel">Patrick H. Lauke</h3>
               <p>
                  <a href="http://www.splintered.co.uk">Patrick</a> works as Accessibility Consultant for <a href="http://paciellogroup.com">The Paciello Group</a>. In a previous life he was a Web Evangelist in the Developer Relations team at Opera. He's been obsessing about touch, pointer events and multi-input devices for the last few years and is a member of the <a href="http://www.w3.org/2012/pointerevents/">W3C Pointer Events Working Group</a> and <a href="http://www.w3.org/community/touchevents/">W3C Touch Events Community Group</a>.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Getting touchy - an introduction to touch and pointer events</h3>
               <p>Beyond smartphones and tablets, touchscreens are finding their way into laptops and even desktop computers. With hardware support for touch becoming increasingly ubiquitous, it's time to explore what new possibilities are available to developers. This session will cover the basics of handling touch events - from making sure simple single-tap interactions are as responsive as possible, all the way to examples of full multitouch, gesture-enabled elements.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="anette"></a>
            <img class="rebel-img" src="/img/speakers/anette.png" alt="Anette Bergo">
            <h3 class="rebel-name ratherloud-rebel">Anette Bergo</h3>
               <p>
                  <a href="https://twitter.com/anettebgo">Anette</a> travels the world in search of some good people, the perfect code and a decent pork crackling. At the moment she is based in Bergen where she juggles a very fine development team, a fluctuating number of projects, a desire to make the world a better place and playing with the first garden she has had for years.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Rebel and Evolve: Moving beyond point-and-click</h3>
               <p>I don't want a web where I move a pointer around the screen for the rest of my life.</p>
               <p>In 25 years the web has gone from a small collection of scholarly articles to a rich and diverse soup of information, games, leisure, and work. From accessing it with what pretty much amounted to electric typewriters, we now use a myriad of vastly different devices. Yet we still channel almost all interaction into a point-and-click analogue.</p>
               <p>Responsive design has taken care of the many screen sizes, and progressive enhancement address the differing capabilities. I want to talk about the next step: All the wonderful ways in which it is becoming possible to play, talk, and move our way around the web. And how we, the people who in some small but significant ways decide what the web is, can embrace and exploit these possibilities.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="vyacheslav"></a>
            <img class="rebel-img" src="/img/speakers/vyacheslav.png" alt="Vyacheslav “mraleph” Egorov">
            <h3 class="rebel-name ratherloud-rebel">Vyacheslav “mraleph” Egorov</h3>
               <p>
                  <a href="http://mrale.ph/blog/">Vyacheslav “mraleph” Egorov</a> is a compiler engineer at Google Aarhus doing all things virtual machines. Worked on <a href="https://code.google.com/p/v8/">V8</a> and <a href="https://www.dartlang.org/">Dart VM</a>. He eats microbenchmarks for breakfast.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Crooked Mirrors of Performance</h3>
               <p>This is a fairy tale of programmer traveling through the strange land of microbenchmarks. Are they reflecting the truth, lies or maybe something in between? We will shatter the illusions and look behind their surface to reveal the fundamental truth: it's easier to spot a bad microbenchmark, than write a good one. </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="parisa"></a>
            <img class="rebel-img" src="/img/speakers/parisa.png" alt="Parisa Tabriz">
            <h3 class="rebel-name ratherloud-rebel">Parisa Tabriz</h3>
               <p>
                  Parisa Tabriz is Google's <a href="https://docs.google.com/file/d/0B94dmQ0iBU_xQUJTbkFpSC1ObjA/edit">Security Princess</a>. She was hired to hack on and improve the security of Google's web applications 7 years ago, and at some point, became a manager of engineers. Today, she manages the <a href="http://dev.chromium.org/Home/chromium-security/">Chrome Security engineering team</a>, which works on making Chrome the most secure way to browse the tubes, and more generally, make the Internet safer. She is adept at eating, baking, and hijacking cookies.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Got TLS? An overview of why you need it and how to do it right.</h3>
               <p>Today more than ever, https support is a requirement if you care about your users' security and privacy. This talk will overview real threats to web applications served over HTTP, what TLS protects against (and doesn't), and some common implementation myths and gotchas.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="mikola"></a>
            <img class="rebel-img" src="/img/speakers/mikola.png" alt="Mikola Lysenko">
            <h3 class="rebel-name ratherloud-rebel">Mikola Lysenko</h3>
               <p>
                  Mikola Lysenko is a computer science graduate student at the <a href="http://www.cs.wisc.edu/">University of Wisconsin in Madison</a>. He also works part time at <a href="http://www.3dsystems.com/">3D systems</a>, writes for the blog <a href="http://0fps.net/">0 FPS</a>, and maintains over <a href="https://www.npmjs.org/~mikolalysenko">200 npm modules</a>.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">ndarray: Modular multidimensional arrays for JavaScript</h3>
               <p>Multidimensional arrays are a fundamental data type, with diverse applications in geometry, graphics, vision, DSP, machine learning, scientific computing and much more. Many of these tasks are also interesting for web applications, but exploration here is hampered by the lack of efficient multidimensional array in JavaScript. ndarrays solve this problem by introducing a simple data structure for manipulating slices of higher dimensional data. This talk will cover how ndarrays work, and give an overview of the growing modular ecosystem around ndarrays</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="jessica"></a>
            <img class="rebel-img" src="/img/speakers/jessica.png" alt="Jessica Lord">
            <h3 class="rebel-name ratherloud-rebel">Jessica Lord</h3>
               <p>
                  <a href="http://jlord.us/">Jessica Lord</a> is a former urban designer turned <a href="http://www.codeforamerica.org/">Code for America</a> Fellow turned JavaScript-all-the-things who works at <a href="http://www.github.com/">GitHub</a>. She lives in Oakland, home of <a href="#substack">Substack</a>, and hacks on <a href="http://www.github.com/jlord/sheetsee.js">sheetsee.js</a> and the <a href="http://nodeschool.io/#git-it">git-it</a> NodeSchool workshop.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Git-it, Share it</h3>
               <p>Share what you know and roll a terminal app with the workshopper module. This talk will focus on the Git-it module, how it uses workshopper to build an app for non-coders, adds an interactive real-time server side bot with Node.js and the GitHub API, and creates GitHub Pages hosted site for much win. Git-it is used at NodeSchool events and GitHub Patchwork nights and teaches Git and GitHub fundamentals to beginners.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="jed"></a>
            <img class="rebel-img" src="/img/speakers/jed.png" alt="Jed Schmidt">
            <h3 class="rebel-name ratherloud-rebel">Jed Schmidt</h3>
               <p>
                  <a href="http://jed.is/">Jed</a> is a JavaScript developer and recovering Japanese translator based out of Brooklyn, NYC. When he's not geeking out on the mobile web at <a href="http://www.uniqlo.com/us">UNIQLO</a>, he enjoys running <a href="http://brooklynjs.com">BrooklynJS</a> and singing tight barbershop harmonies.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">No Man Is an APIsland</h3>
               <p>As JavaScript continues to eat everything, it seems like the lifespan of any new JavaScript library ends up at about half of the one it replaced. While each of these tools serve to make our lives easer, the churn from switching sometimes makes it hard to tell progress from fashion. In this talk, Jed talks about how the interfaces of these libraries and frameworks are evolving, and how we can design the interfaces to survive the inevitable front-end Singularity.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="nuno"></a>
            <img class="rebel-img" src="/img/speakers/nuno.png" alt="Nuno Job">
            <h3 class="rebel-name ratherloud-rebel">Nuno Job</h3>
               <p>
                  <a href="https://twitter.com/dscape">Nuno</a> is a hacker turned business guy. He was an inquisitive mind at <a href="https://www.nodejitsu.com/">Nodejitsu, the Node.js PaaS</a>. He is currently building <a href="http://www.yld.io/">YLD</a>, is a open source hacker at heart and you can find most of his work in <a href="http://github.com/dscape">http://github.com/dscape</a>
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk"># process.env.NODE_ENV === 'PRODUCTION' for all your "webscale" apps!</h3>
               <p>A tale on building stable node.js services with a focus on performance. We will discuss what we learned over the years running node in production, and what tools and processes we use to help customers with large production node.js services find bottlenecks in their applications. Bullet proof!</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="angus"></a>
            <img class="rebel-img" src="/img/speakers/angus.png" alt="Angus Croll">
            <h3 class="rebel-name ratherloud-rebel">Angus Croll</h3>
               <p>
                  <a href="http://anguscroll.com/">Angus</a> is a displaced Brit who now works for Twitter’s web platform team in San Francisco, and is one of the principal authors and maintainers of <a href="http://twitter.github.io/flight/">Twitter's Flight web framework</a>. He's obsessed with <a href="http://byfat.xxx/if-hemingway-wrote-JavaScript">JavaScript and literature</a> in equal measure, and is a passionate advocate for the greater involvement of artists and creative thinkers in software.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Stop being Perfect</h3>
               <p>As JavaScript developers we obsess about doing things the right way. Drawing from copious examples I'll attempt to show that there's no right or wrong, that dogma is your enemy and conventional wisdom is no match for self-discovery.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <a name="substack"></a>
               <img class="rebel-img" src="/img/speakers/james.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">James <a href="http://substack.net/">“substack”</a> Halliday</h3>
               <p>
                  Unix philosopher. <a href="https://www.npmjs.org/browse/author/substack">Tiny module author</a>. Co-founder of <a href="https://browserling.com/">browserling</a>, <a href="https://ci.testling.com/">testling</a>, <a href="http://browserify.org/">browserify</a>, <a href="https://github.com/substack/stream-handbook">streams</a>, mad science. Beep boop.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">The ghost of javascript future</h3>
               <p>The future of javascript is coming, but many of the parts are already here! In this talk I cover the ecosystems that are paving the way for the future of javascript: webrtc, webgl, mathematics, and databases galore!</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <a name="marijn"></a>
               <img class="rebel-img" src="/img/speakers/marijn.png" alt="Marijn Haverbeke">
               <h3 class="rebel-name ratherloud-rebel">Marijn Haverbeke</h3>
               <p>
                  <a href="http://marijnhaverbeke.nl/">Marijn</a> is an independent developer and author, working on programming-language related open-source projects from <a href="http://www.rust-lang.org/">Rust</a> to <a href="http://codemirror.net/">CodeMirror</a> to <a href="http://ternjs.net/">Tern</a>. He lives in Berlin, and is currently writing the second edition of the book <a href="http://eloquentJavaScript.net/">Eloquent JavaScript</a>.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Seeing Types in JavaScript</h3>
               <p>Even in dynamically typed programs, the programmer usually knows the type of the program's variables and properties. But most of the time, their editor doesn't.</p>
               <p>Tern is an attempt to improve the situation for JavaScript editing. It is a stand-alone type inference engine that talks to editor plugins to provide type information, completion, and other helpful features. This talk will show you what Tern can do, and explain how it does them.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <a name="arne_martin"></a>
               <img class="rebel-img" src="/img/speakers/martin.png" alt="Arne Martin Aurlien">
               <h3 class="rebel-name ratherloud-rebel">Arne Martin Aurlien</h3>
               <p>
                  <a href="http://am.aurlien.net/">Arne Martin Aurlien</a> is a web developer at <a href="http://boost.no/">Boost Communications</a>, where he does frontend stuff and some mobile stuff. He is the local “JavaScript” “guy” and tries to be an advocate for “functional” “programming” “practices”, although he hardly knows what this means. When he’s not working he likes to write about himself in third person, also he brews beer and has a wife and a tiny child.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Not Mobile-Unfriendly UI Components With React</h3>
               <p>React is a fairly new UI library for JavaScript. Yes, there’s literally a ton of those around, but React is a product of out-of-the-box thinking and does things a bit differently than most of the others.</p>
               <p>All the cool people are using React these days, so let’s jump on that bandwagon and add some more buzzwords (mobile! Topcoat!) for good measure. This talk will give you a quick introduction to what React can do and show you how to write simple components, and we'll take a quick look at how you can make sure your components don’t crash and burn on mobile.</p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="max"></a>
            <img class="rebel-img" src="/img/speakers/max.png" alt="Max Ogden">
            <h3 class="rebel-name ratherloud-rebel">Max Ogden</h3>
               <p>
                  Max Ogden is a JavaScript programmer who lives in Oakland, CA, home of the <a href="http://nodejs.org/">Node.js</a> project. Some previous projects include <a href="http://codeforamerica.org/">Code for America</a>, <a href="http://jsforcats.com/">JavaScript for Cats</a>, <a href="http://tacoconf.com/">TacoConf</a> and most recently <a href="http://voxeljs.com/">Voxel.js</a>, a WebGL voxel rendering engine.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">The LEBRON Stack: It's a Slam Dunk</h3>
               <p>Named after the best basketball player in the NBA, the <a href="http://lebron.technology/">LEBRON</a> (<a href="http://leveldb.org/">LEveldb</a>, <a href="http://browserify.org/">BROwserify</a>, <a href="https://www.npmjs.org/">Npm</a>) stack is a group of technologies that have arisen out of the Node community that are useful for building all types of applications with JavaScript. npm let's you share small JavaScript modules, Browserify makes them work in web browsers, and LevelDB is a database that works on the server and the client that currently has over 200 plugins/modules on npm. This talk will talk about what these technologies are good for and why they are getting so popular.</p>
            </div>
         </li>
      </ul>

   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>