<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="We are non-profit, community driven conference held in Oslo, Norway.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
    <div class="l-content-inner">
        <h1 class="ratherloud-heading">Speaker policies</h1>
        <h2>No sponsored talks</h2>
        <p>We have a strict no sponsored talks policy at the conference. This means that no company who contribute as a sponsor get a speaking slot. Our <a href="./sponsoroptions/">sponsorship options</a> states what each sponsoring package contains. Even though we work with sponsors on things out side of that standard packages, the no sponsored talk policy still applies.</p>
        <h2>Monetary policy</h2>
        <p>Our speakers get full entrance to the conference, a speakers dinner, the pre conference party and conference party.</p>
        <p>We cover your their to and from Oslo. This usually means we pay for their plane- or train ticket. We also pay for travel to and from Oslo Airport, downtown Oslo and a public transport card during their stay with us.</p>
        <p>We cover their stay hotel stay for the days of the conference and a day before or after. Those who you want to stay longer, we try to arrange things to make it possible. However they will have to cover the extra nights.</p>
        <p>We encourage speakers, if possible, to see if their employer would be interested in covering their travel and hotel. We will work with your employer to work out a sponsor package in return. Web Rebels is a no profit conference so all the money we save will be used to make the conference as awesome as possible.</p>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>