<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
   <h2 class="ratherloud-heading">Meet our speakers</h2>
      <ul class="rebels">
         <li>
            <div class="rebel-bio"> 
               <img class="rebel-img" src="img/speaker01.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">Amelia Earhart</h3>
               <p>
                  Donut sugar plum apple pie tart pie marzipan macaroon gingerbread wafer. 
                  Cupcake wafer chocolate danish. Sugar plum cookie toffee. Jelly beans 
                  toffee caramels cake chupa chups tart.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">I have a good feeling about this</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <img class="rebel-img" src="img/speaker02.png" alt=""> 
               <h3 class="rebel-name ratherloud-rebel">David Bowie</h3>
               <p>
                  Donut sugar plum apple pie tart pie marzipan macaroon gingerbread wafer. 
                  Cupcake wafer chocolate danish. Sugar plum cookie toffee. Jelly beans 
                  toffee caramels cake chupa chups tart. Liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Teaching browsers new tricks</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <img class="rebel-img" src="img/speaker03.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">Jet Li</h3>
               <p>
                  Donut sugar plum apple pie tart pie marzipan macaroon gingerbread wafer. 
                  Cupcake wafer chocolate danish. Sugar plum cookie toffee. Jelly beans 
                  toffee caramels cake chupa chups tart. Liquorice toffee.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Teaching browsers new tricks</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
            <img class="rebel-img" src="img/speaker04.png" alt="">
            <h3 class="rebel-name ratherloud-rebel">Angela Bassett</h3>
               <p>
                  Donut sugar plum apple pie tart pie marzipan macaroon gingerbread wafer. 
                  Cupcake wafer chocolate danish. Sugar plum cookie toffee. Jelly beans 
                  toffee caramels cake chupa chups tart. Liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Strange Days in the Browser</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <img class="rebel-img" src="img/speaker05.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">Frida Kahlo</h3>
               <p>
                  Liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">What Every Painter Should Know About Self-Portraits</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
         <li>
            <div class="rebel-bio">
               <img class="rebel-img" src="img/speaker06.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">Dave Grohl</h3>
               <p>
                  Sugar plum cookie toffee. Chupa chups tart. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate.
               </p>
            </div>
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">Streams, Events, Data and Foo</h3>
               <p>
                  Cupcake ipsum dolor sit amet chocolate bar gummies jelly beans candy. 
                  Chocolate cake tart wafer cookie bear claw fruitcake oat cake. Macaroon 
                  candy canes donut chocolate liquorice toffee. Lollipop pastry oat cake 
                  sugar plum cookie croissant cotton candy. Toffee danish danish brownie 
                  powder chocolate bar carrot cake gingerbread jelly beans. Cheesecake topping 
                  gummi bears apple pie jelly-o wafer liquorice macaroon. Sesame snaps brownie 
                  chupa chups lollipop.
               </p>
            </div>
         </li>
      </ul>

   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>