<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="One track, 16 national and international speakers.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
   <h2 class="ratherloud-heading">Meet our speakers</h2>
      <ul class="rebels">
         <li>
            <div class="rebel-bio">
            <a name="parisa"></a>
            <img class="rebel-img" src="/img/speakers/parisa.png" alt="Parisa Tabriz">
            <h3 class="rebel-name ratherloud-rebel">Parisa Tabriz</h3>
               <p>
                  Parisa Tabriz is Google's <a href="https://docs.google.com/file/d/0B94dmQ0iBU_xQUJTbkFpSC1ObjA/edit">Security Princess</a>. She was hired to hack on and improve the security of Google's web applications 7 years ago, and at some point, became a manager of engineers. Today, she manages the <a href="http://dev.chromium.org/Home/chromium-security/">Chrome Security engineering team</a>, which works on making Chrome the most secure way to browse the tubes, and more generally, make the Internet safer. She is adept at eating, baking, and hijacking cookies.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="mikola"></a>
            <img class="rebel-img" src="/img/speakers/mikola.png" alt="Mikola Lysenko">
            <h3 class="rebel-name ratherloud-rebel">Mikola Lysenko</h3>
               <p>
                  Mikola Lysenko is a computer science graduate student at the <a href="http://www.cs.wisc.edu/">University of Wisconsin in Madison</a>. He also works part time at <a href="http://www.3dsystems.com/">3D systems</a>, writes for the blog <a href="http://0fps.net/">0 FPS</a>, and maintains over <a href="https://www.npmjs.org/~mikolalysenko">200 npm modules</a>.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="jessica"></a>
            <img class="rebel-img" src="/img/speakers/jessica.png" alt="Jessica Lord">
            <h3 class="rebel-name ratherloud-rebel">Jessica Lord</h3>
               <p>
                  <a href="http://jlord.us/">Jessica Lord</a> is a former urban designer turned <a href="http://www.codeforamerica.org/">Code for America</a> Fellow turned JavaScript-all-the-things who works at <a href="http://www.github.com/">GitHub</a>. She lives in Oakland, home of <a href="#substack">Substack</a>, and hacks on <a href="http://www.github.com/jlord/sheetsee.js">sheetsee.js</a> and the <a href="http://nodeschool.io/#git-it">git-it</a> NodeSchool workshop. 
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="jed"></a>
            <img class="rebel-img" src="/img/speakers/jed.png" alt="Jed Schmidt">
            <h3 class="rebel-name ratherloud-rebel">Jed Schmidt</h3>
               <p>
                  <a href="http://jed.is/">Jed</a> is a JavaScript developer and recovering Japanese translator based out of Brooklyn, NYC. When he's not geeking out on the mobile web at <a href="http://www.uniqlo.com/us">UNIQLO</a>, he enjoys running <a href="http://brooklynjs.com">BrooklynJS</a> and singing tight barbershop harmonies.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="nuno"></a>
            <img class="rebel-img" src="/img/speakers/nuno.png" alt="Nuno Job">
            <h3 class="rebel-name ratherloud-rebel">Nuno Job</h3>
               <p>
                  <a href="https://twitter.com/dscape">Nuno</a> is a hacker turned business guy. He was an inquisitive mind at <a href="https://www.nodejitsu.com/">Nodejitsu, the Node.js PaaS</a>. He founded <a href="http://nodefirm.com/">The Node Firm</a> and is currently building <a href="http://www.yld.io/">YLD</a>. Open source hacker at heart, you can find most of his work in <a href="http://github.com/dscape">http://github.com/dscape</a>
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="angus"></a>
            <img class="rebel-img" src="/img/speakers/angus.png" alt="Angus Croll">
            <h3 class="rebel-name ratherloud-rebel">Angus Croll</h3>
               <p>
                  <a href="http://anguscroll.com/">Angus</a> is a displaced Brit who now works for Twitter’s web platform team in San Francisco, and is one of the principal authors and maintainers of <a href="http://twitter.github.io/flight/">Twitter's Flight web framework</a>. He's obsessed with <a href="http://byfat.xxx/if-hemingway-wrote-javascript">JavaScript and literature</a> in equal measure, and is a passionate advocate for the greater involvement of artists and creative thinkers in software.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio"> 
               <a name="substack"></a>
               <img class="rebel-img" src="/img/speakers/james.png" alt="">
               <h3 class="rebel-name ratherloud-rebel">James <a href="http://substack.net/">“substack”</a> Halliday</h3>
               <p>
                  Unix philosopher. <a href="https://www.npmjs.org/browse/author/substack">Tiny module author</a>. Co-founder of <a href="https://browserling.com/">browserling</a>, <a href="https://ci.testling.com/">testling</a>, <a href="http://browserify.org/">browserify</a>, <a href="https://github.com/substack/stream-handbook">streams</a>, mad science. Beep boop.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
               <a name="marijn"></a>
               <img class="rebel-img" src="/img/speakers/marijn.png" alt="Marijn Haverbeke"> 
               <h3 class="rebel-name ratherloud-rebel">Marijn Haverbeke</h3>
               <p>
                  <a href="http://marijnhaverbeke.nl/">Marijn</a> is an independent developer and author, working on programming-language related open-source projects from <a href="http://www.rust-lang.org/">Rust</a> to <a href="http://codemirror.net/">CodeMirror</a> to <a href="http://ternjs.net/">Tern</a>. He lives in Berlin, and is currently writing the second edition of the book <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a>.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
               <a name="arne_martin"></a>
               <img class="rebel-img" src="/img/speakers/martin.png" alt="Arne Martin Aurlien">
               <h3 class="rebel-name ratherloud-rebel">Arne Martin Aurlien</h3>
               <p>
                  <a href="http://am.aurlien.net/">Arne Martin Aurlien</a> is a web developer at <a href="http://boost.no/">Boost Communications</a>, where he does frontend stuff and some mobile stuff. He is the local “javascript” “guy” and tries to be an advocate for “functional” “programming” “practices”, although he hardly knows what this means. When he’s not working he likes to write about himself in third person, also he brews beer and has a wife and a tiny child.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
         <li>
            <div class="rebel-bio">
            <a name="max"></a>
            <img class="rebel-img" src="/img/speakers/max.png" alt="Max Ogden">
            <h3 class="rebel-name ratherloud-rebel">Max Ogden</h3>
               <p>
                  Max Ogden is a JavaScript programmer who lives in Oakland, CA, home of the <a href="http://nodejs.org/">Node.js</a> project. Some previous projects include <a href="http://codeforamerica.org/">Code for America</a>, <a href="http://jsforcats.com/">JavaScript for Cats</a>, <a href="http://tacoconf.com/">TacoConf</a> and most recently <a href="http://voxeljs.com/">Voxel.js</a>, a WebGL voxel rendering engine.
               </p>
            </div>
            <%/*
            <div class="rebel-talk">
               <h3 class="ratherloud-talk">TBA</h3>
               <p>Tba</p>
            </div>
            */%>
         </li>
      </ul>

   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>