<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
        <h1 class="ratherloud-heading">Our partners and sponsors</h1>
        <p>
          Without the participation of our amazing sponsors, our conference would never be possible. They are the ones who enable us to provide you with awesome speakers at a great venue at an affordable price. We love them and so should you, so please check them out and show them some love!</p>
          <p>Want to help us out in 2015? <a href="#2015">Have a look over here!</a></p>
        <h2><a href="http://mandrill.com/"><img class="sponsor-logo"src="img/sponsors/mandrill.png" alt="mandrill"></a></h2>
        <p>Mandrill is a scalable and affordable email infrastructure service, with all the marketing-friendly analytics tools you’ve come to expect from <a href="http://mailchimp.com/">MailChimp</a>. Apps can use Mandrill to send automated transactional email, like password reminders and shopping-cart receipts Mandrill offers advanced tracking, easy-to-understand reports, and hundreds of template options. And it’s built on <a href="http://mailchimp.com/">MailChimp</a>’s proven email platform, which sends more than eight billion emails a month. Developers love the quick setup, webhooks support, and high delivery rates. Marketers love the beautiful interface, template options, tagging, and custom reports. And both love that you can send 12,000 emails per month absolutely free.
        </p>
        <h2><a href="http://www.visma.no"><img class="sponsor-logo"src="img/sponsors/visma.png" alt="visma"></a></h2>
        <p>Visma er ledende leverandør av produkter og tjenester som gjør virksomheter mer effektive. Konsernet leverer programvare, outsourcing tjenester, innkjøpsløsninger, innfordringstjenester, butikkdataløsninger samt IT-relatert utviklings- og konsulentvirksomhet. Visma forenkler og automatiserer virksomhetsprosesser innenfor både privat og offentlig sektor, og har 340 000 kunder i Nord-Europa. Konsernet har 5 642 ansatte og hadde i 2013 en omsetning på NOK 6 452 mill. Se <a href="http://visma.no">visma.no</a> og <a href="http://visma.com">visma.com</a></p>
        <p>Visma Consulting AS er et teknologifokusert konsulentselskap i vekst som jobber for å bringe Norge inn i en effektiv digital fremtid. Vi tilbyr rådgivning, utvikling, forvaltning innen forretningsområdene fagsystemer, selvbetjening og samhandling, information management og mobile løsninger. Med representasjon i Norge, Danmark, Finland, Sverige og Litauen er vi snart 600 mennesker, hvorav 150 i Oslo.</p>
        <h2><a href="http://www.ciber.no"><img class="sponsor-logo"src="img/sponsors/ciber.png" alt="Ciber"></a></h2>
        <p>
          Ciber Norge er et konsulentselskap innen IT rådgiving, systemutvikling og SAP og vi leverer prosjekter og tjenester til private og offentlige virksomheter. Vi er 200 ansatte og holder til sentralt Oslo. Vi er opptatt av faglig dyktighet og fornøyde kunder, og vi har et eksepsjonelt godt miljø med et bredt sosialt tilbud. Våre faglige styrker ligger innenfor følgende områder:
          <ul>
            <li>Rådgivning, strategi og kvalite</li>
            <li>Design og utvikling</li>
            <li>Forvaltning og drift</li>
            <li>e-commerce og  forretningssystemer</li>
          </ul>
        </p>
        <h2><a href="http://www.accenture.no"><img class="sponsor-logo"src="img/sponsors/accenture.png" alt="Accenture"></a></h2>
        <p><strong>Coffee sponsor</strong><br>
          Accenture er et av verdens ledende konsulentselskaper som leverer tjenester innenfor rådgiving, teknologi og outsourcing.<br>
          Hos Accenture vil du få læringsmuligheter og faglig videreutvikling gjennom blant annet en rekke interne/eksterne kurs, hackfester og fagkvelder på Teknologihuset. I tillegg til å bli en del av et ledende fagmiljø i Norge vil du også få et bredt spekter av internasjonale karrieremuligheter.<br>
          Bransjene vi jobber innenfor inkluderer:
          <ul>
            <li>Offentlig sektor</li>
            <li>Telekom</li>
            <li>Olje, gass, energi og prosessindustri</li>
            <li>Bank, finans og forsikring</li>
            <li>Detaljhandel, logistikk og transport</li>
          </ul>
          <strong>Spørsmål?</strong><br>Vår direktør for ADI vil gjerne høre fra deg. Ta kontakt med <a href="mailto:tonny.gundersen [at] accenture.com">Tonny Gundersen</a>, dersom du har spørsmål om en av stillingene våre.
        </p>
        <h1 id="2015" class="ratherloud-heading">Contributing as a sponsor for 2015?</h1>
        <p>
            We want you to help contribute to making the conference
            better. Our focus is to create mutual benefits for sponsors
            and attendees by creating amazing experiences. We want to
            work with our sponsors to help you promote your brand,
            launch your product or whatever you have in mind.
        </p>
        <p>
          Interested in sponsoring Web Rebels 2015? To find out more,
          <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">contact us today</a> or checkout our <a href="sponsoroptions">sponsorship options</a>.
        </p>

   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>