<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
    <% include includes/header.ejs %>
	<div class="l-content">
	   <div class="l-content-inner">
	        <h1 class="ratherloud-heading">Sponsorship options</h1>
	        <p>Listed below are our sponsorship options. There is a limited number of packages available, so don't take too long to decide!</p>
	        <p>We think that working together with our sponsors to create amazing experiences gives the best return on the investment, so please send us your ideas and we will work something out.</p>
	        <p>We also have a set of standard sponsorship packages which is listed below. If you decide you want to contribute as a Tier 3 sponsor, then you are entitled to contribute with other things than what is listed below. You can buy everyone coffee, bring ice cream or something else.</p>
	        <h2>Standard packages</h2>
	        <table class="schedule">
	        <thead>
	            <tr><th style="min-width:150px">Tier</th>
	            <th>Description</th>
	            <th>Price</th></tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td>Tier 1</td>
	            <td><ul>
	                    <li>Logo on website</li>
	                    <li>Mention in opening and closing talks</li>
	                    <li>Displayed logo during breaks</li>
	                    <li>Logo displayed in online videos</li>
	                    <li>1 ticket</li>
	                </ul>
	            </td>
	            <td>25 000 NOK</td>
	        </tr>
	        <tr>
	            <td>Tier 2</td>
	            <td><ul>
	                <li>Flag / banner inside the conference venue (provided by you)</li>
	                <li>Logo lanyard (provided by you)</li>
	                <li>Mention in social media</li>
	                </ul></td>
	            <td>35 000 NOK</td>
	        </tr>
	        <tr>
	            <td>Tier 3</td>
	            <td><ul>
	                <li>Stands / booth / exhibition</li>
	                <li>2 extra tickets</li>
	                </ul>
	            </td>
	            <td>50 000 NOK</td>
	        </tr>
	        </tbody>
	        </table>

	        <h2>Sponsor specials</h2>
	        <p>
	          In addition to the regular sponsorship packages we want to
	          provide sponsors with other options for marketing their brand by
	          helping us with some specifics related to the conference. These
	          are exclusive packages only available to one sponsor.
	        </p>
	        <table class="schedule">
	        <thead>
	        <tr><th style="min-width:150px">Name</th><th>Description</th><th>Price</th></tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td>Barista at the venue</td>
	            <td>Cover expenses related to having baristas serve amazing coffee</td>
	            <td>Somewhere between 30-40 000 NOK <small>(we are still negotiating the price)</small></td>
	        </tr>
	        <tr>
	            <td>Sponsor of the Open Mic Night</td>
	            <td>Be the exclusive sponsor of this pre-event which takes place the day before the conference where anyone can do a talk.</td>
	            <td>20 000 NOK</td>
	        </tr>
	        </tbody>
	        </table>

	        <p>
	          If your are interested in sponsoring Web Rebels or if you want to find out more,
	          <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org&gt;">contact us today</a>!
	        </p>
        </div>
    </div>
    <% include includes/footer.ejs %>
</body>
</html>