

    <h1>Our partners and sponsors for 2013</h1>
    <p>We want you to help contribute to making the conference better. Our focus is to create mutual benefits for sponsors and attendees by creating amazing experiences. We want to work with our sponsors to help you promote your brand, launch your product or whatever you have in mind.</p>

    <p>Sounds interesting? <a href="mailto:sponsors[ replace this bracket with a @ ]webrebels.org&gt;">Contact us today</a> or read more about <a href="/sponsoroptions">our sponsoring options</a>.
    </p>