<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>

<div class="l-content">
   <div class="l-content-inner">
        <h1 class="ratherloud-heading">Our partners and sponsors</h1>
        <p>
            We want you to help contribute to making the conference
            better. Our focus is to create mutual benefits for sponsors
            and attendees by creating amazing experiences. We want to
            work with our sponsors to help you promote your brand,
            launch your product or whatever you have in mind.
        </p>
        <p>
          Interested in sponsoring Web Rebels? To find out more,
          <a href="mailto:sponsors[ replace this bracket with a @]webrebels.org">contact us today</a>.
        </p>

        <%/*
        <h2><img class="sponsor-logo"src="img/sponsor02.png" alt=""></h2>
        <p>
           Cupcake ipsum dolor sit amet danish halvah ice cream. Candy sweet roll chocolate. 
           Lemon drops caramels biscuit carrot cake cupcake gummies. Dessert gummi bears gummi 
           bears jelly-o lollipop pastry brownie donut soufflé. Chocolate cake macaroon halvah 
           cheesecake gummi bears cheesecake. Muffin jujubes jelly beans apple pie jelly. Dessert 
           sweet roll jelly-o lemon drops. Donut sweet roll candy muffin sugar plum apple pie. 
        </p>
        <h2><img class="sponsor-logo" src="img/sponsor06.png" alt=""></h2>
        <p>
           Cupcake ipsum dolor sit amet danish halvah ice cream. Candy sweet roll chocolate. 
           Lemon drops caramels biscuit carrot cake cupcake gummies. Dessert gummi bears gummi 
           bears jelly-o lollipop pastry brownie donut soufflé. Chocolate cake macaroon halvah 
           cheesecake gummi bears cheesecake. Muffin jujubes jelly beans apple pie jelly. Dessert 
           sweet roll jelly-o lemon drops. Donut sweet roll candy muffin sugar plum apple pie. 
        </p>
        <h2><img class="sponsor-logo" src="img/sponsor03.png" alt=""></h2>
        <p>
           Cupcake ipsum dolor sit amet danish halvah ice cream. Candy sweet roll chocolate. 
           Lemon drops caramels biscuit carrot cake cupcake gummies. Dessert gummi bears gummi 
           bears jelly-o lollipop pastry brownie donut soufflé. Chocolate cake macaroon halvah 
           cheesecake gummi bears cheesecake. Muffin jujubes jelly beans apple pie jelly. Dessert 
           sweet roll jelly-o lemon drops. Donut sweet roll candy muffin sugar plum apple pie. 
        </p>
        */%>

   </div>
</div>

<% include includes/footer.ejs %>
</body>
</html>