<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%=pageTitle%></title>
    <meta name="description" content="Tickets go on sale Friday 7th of March at 14:00CET. Prices are €269 and €409.">
    <% include includes/externals.ejs %>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
   <div class="l-content-inner">
      <h1 class="ratherloud-heading">Tickets</h1>
      <p>Tickets go on sale Friday 7th of March at 14:00 CET.</p>
      <iframe  src="https://www.eventbrite.com/tickets-external?eid=10355388245&ref=etckt" frameborder="0" height="250" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

      <article>
         <h2>We will take care of you!</h2>
         <p>When you attend the Web Rebels Conference, you’re our guest and we will take care of you. 
            We work very hard to make sure all you need to do is to get here and then we'll do all the rest.
            This is included in your ticket:</p>
         <ul>
            <li>Entrance to the conference</li>
            <li>Entrance to the <a href="./openmic">Open Mic Night</a></li>
            <li>Full buffet breakfast both conference days</li>
            <li>Full lunch both conference days</li>
            <li>Full dinner day one of the conference</li>
            <li>Continuous delivery of coffee / tea during the conference</li>
            <li>Access to the conference party at the end of day one</li>
            <li>A decent amount of free beverages (beer, wine, mineralwater) during the conference party</li>
         </ul>
         <p>
            We know that our speakers will be great and you will not go hungry during the conference.
         </p>
         <p>
            We put pride in making sure you have the best entertainment during the after party and access 
            to a good selection of micro brewery beers too choose from.
         </p>

         <h2>Latest</h1>
         <div id="twitter-follow" class="twitter"></div>
      </article>
   </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>