<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <title><%=pageTitle%></title>
    <% include includes/analytics.ejs %>
</head>
<body>
<% include includes/header.ejs %>
<div class="l-content">
   <div class="l-content-inner">
      <h1 class="ratherloud-heading">Tickets</h1>
      <p>Tickets go on sale early March.</p>
      <article>
         <h2>We will take care of you!</h2>
         <p>When you attend the Web Rebels Conference, you’re our guest and we will take care of you. 
            We work very hard to make sure all you need to do is to get here and then we'll do all the rest.
            This is included in your ticket:</p>
         <ul>
            <li>Entrance to the conference</li>
            <li>Entrance to the Open Mic Night</li>
            <li>Full buffet breakfast both conference days</li>
            <li>Full lunch both conference days</li>
            <li>Full dinner day one of the conference</li>
            <li>Continuous delivery of coffee / tea during the conference</li>
            <li>Access to the conference party at the end of day one</li>
            <li>A decent amount of free beverages (beer, wine, mineralwater) during the conference party</li>
         </ul>
         <p>
            We know that our speakers will be great and you will not go hungry during the conference.
         </p>
         <p>
            We put pride in making sure you have the best entertainment during the after party and access 
            to a good selection of micro brewery beers (just checkout the 
            <a href="http://webrebels.tumblr.com/post/24346798911/were-doing-the-accounting-thing-these-days-and">
            selection of beverages consumed at last years party</a>) too choose from.
         </p>
      </article>
   </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>