body {
	background-color: rgb(34,34,34);
	color: rgb(137,137,75);
	font-family: 'Merriweather', Georgia
}
a, a:visited {
	color: rgb(137,137,75);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}